<div class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="font-weight-bold m-0">Manage Billing Settings</h1>
        <h4 class="line-height header-sub-text">
            If you need any help, please contact Support.
        </h4>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <button class="button-purple px-4 py-1" mat-raised-button (click)="listAllTransactions()">
                View Transactions
            </button> &nbsp;
        </div>
        <div>
            <button mat-raised-button class="button-purple px-4 py-1" (click)="onEdit()">
                Edit Plan 
            </button> &nbsp;
        </div>
    </div>

</div>

<div class="row">
    <div *ngIf="spinner" class="d-flex justify-content-center align-items-center spinner spinner-class">
        <mat-spinner color="primary"></mat-spinner>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="row pt-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <mat-card class="p-4">
                    <div>
                        <span class="h5 text-center font-weight-bold">Step 1:</span>&nbsp;
                        <span class="h5 text-center font-weight-bold">Select Subscription Level</span>
                    </div>
                    <h4>
                        How many inmate connections do you need?
                        <a href="https://google.com" target="_blank">Learn More about Connections.</a>
                    </h4>
                    <div class="row">
                        <div class="col-12 pt-2">
                            <mat-card class="mat-elevation-z10 border-card">
                                <input class="circle" type="radio" [disabled]="isDisabled" [checked]="selectedFacilities[0]?.planSelected == 'Up to 5 Connections'" name="package" (change)="onSelectPlan('250')" /> Up to 5 Connections, $250/mo<br />
                            </mat-card>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 pt-2">
                            <mat-card class="mat-elevation-z10 border-card">
                                <input class="circle" type="radio" [disabled]="isDisabled" [checked]="selectedFacilities[0]?.planSelected == 'Up to 25 Connections'" name="package" (change)="onSelectPlan('350')" /> Up to 25 Connections, $350/mo
                            </mat-card>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 pt-2">
                            <mat-card class="mat-elevation-z10 border-card">
                                <input class="circle" type="radio" [disabled]="isDisabled" [checked]="selectedFacilities[0]?.planSelected == 'Unlimited Connections'" name="package" (change)="onSelectPlan('400')" /> Unlimited Connections, $400/mo
                            </mat-card>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-2">
                <div class="d-flex justify-content-center align-items-center mt-10;">
                    <mat-card class="px-4">
                        <div>
                            <span class="h5 text-center font-weight-bold">Step 2:</span>&nbsp;
                            <span class="h5 text-center font-weight-bold">Select Facilities</span>
                        </div>
                        <h4>
                            Which selectedFacilities would you like to have access?
                            <a href="https://google.com" target="_blank">Learn more about Premium Listings and
                                Sponsorships.</a>
                        </h4>

                        <div class="col-12 pt-2">
                            <div *ngIf="selectedFacilities.length == 0">
                                <span>We currently do not have any selectedFacilities in your state.
                                    Please contact support for more information.</span>
                            </div>
                            <div *ngIf="selectedFacilities.length > 0">
                                <li *ngFor="let facility of facilityList">
                                    <mat-checkbox color="primary" [checked]="facility?.isSelected" [disabled]="isDisabled" (change)="onFacilitySelect($event.checked,facility?.facilityId)">
                                        {{ facility?.facilityName }} ({{facility.facilityUserCount }})
                                    </mat-checkbox>
                                    <div *ngIf="facility.isSelected">
                                        <mat-card class="border-card mb-2">
                                            <h4 class="font-weight-bold text-center mb-1 pt-0">
                                                Select sponsorship options for this facility
                                            </h4>
                                            <div>
                                                <mat-checkbox color="primary" [checked]="facility?.addOns?.premium" [disabled]="isDisabled" (change)="onSelectAddOns($event.checked,facility?.facilityId,'premium' )">
                                                    <span>Premium Listing: $0.25/mo./Average Daily
                                                        Population</span>
                                                </mat-checkbox>
                                            </div>
                                            <div>
                                                <mat-checkbox color="primary" [checked]="facility?.addOns?.sponsors" [disabled]="isDisabled" (change)="onSelectAddOns($event.checked,facility?.facilityId,'sponsors' )">
                                                    <span>Sponsorship: $1.00/mo./Average Daily
                                                        Population</span>
                                                </mat-checkbox>
                                            </div>
                                        </mat-card>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <!-- Estimated Monthly Bill  -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-2 px-0">
            <div class="d-flex justify-content-center align-items-center  pt-1">
                <mat-card class="mt-1 py-4 px-4">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div>
                            <span class="h5 text-center font-weight-bold">Step 3:</span>&nbsp;
                            <span class="h5 text-center font-weight-bold">Review Plan Details</span>
                        </div>
                        <span class="text-center text-black">Based on the selected Facilities and premiums that you have
                            selected,
                            please review your monthly bill below.</span>
                        <mat-card class="mat-elevation-z10 my-5">
                            <div class="d-flex justify-content-between align-items-between pb-2">
                                <div>BASE COST:</div>
                                <div>{{ planPrice | currency: "USD":"symbol" }}</div>
                            </div>
                            <div class="d-flex justify-content-between align-items-between pb-2">
                                <div>PREMIUM:</div>
                                <div> {{ ( addOnsPrice ? addOnsPrice : 0) | currency: "USD":"symbol" }}</div>
                            </div>
                            <div *ngIf="cardForm.get('coupon').value">
                                <div *ngIf="selectedFacilities[0]?.user_plan?.coupon && !cardForm.get('coupon').touched" class="d-flex justify-content-between align-items-between">
                                    <div>DISCOUNT&nbsp;(<b>{{selectedFacilities[0]?.user_plan?.coupon}}</b>):</div>
                                    <div *ngIf="selectedFacilities[0].user_plan"> {{ - ( selectedFacilities[0]?.user_plan ? selectedFacilities[0]?.user_plan?.discount : 0) | currency: "USD":"symbol" }}</div>
                                </div>
                                <div *ngIf="isDiscount && cardForm.get('coupon').touched" class="d-flex justify-content-between align-items-between">
                                    <div>DISCOUNT&nbsp;(<b>{{isDiscount.id}}</b>):</div>
                                    <div *ngIf="isDiscount.percent_off"> {{ - ( isDiscount.percent_off ? totalPrice * isDiscount.percent_off / 100 : 0) | currency: "USD":"symbol" }}</div>
                                    <div *ngIf="isDiscount.amount_off"> {{ - ( isDiscount.amount_off ? isDiscount.amount_off / 100 : 0) | currency: "USD":"symbol" }}</div>
                                </div>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-between align-items-between">
                                <div>TOTAL MONTHLY CHARGE:</div>
                                <div *ngIf="cardForm.get('coupon').value">
                                    <div *ngIf="isDiscount && cardForm.get('coupon').touched">
                                        <span *ngIf="isDiscount?.percent_off" class="font-weight-bold">{{(totalPrice *  isDiscount.percent_off / 100) | currency: "USD":"symbol"}}</span>
                                        <span *ngIf="isDiscount?.amount_off" class="font-weight-bold">{{(totalPrice - isDiscount.amount_off / 100) | currency: "USD":"symbol"}}</span>
                                    </div>
                                    <div *ngIf="selectedFacilities[0]?.user_plan?.coupon && !cardForm.get('coupon').touched">
                                        <span class="font-weight-bold">{{totalPrice - selectedFacilities[0]?.user_plan?.discount | currency: "USD":"symbol"}}</span>
                                    </div>
                                </div>
                                <div *ngIf="!cardForm.get('coupon').value && cardForm.get('coupon').value === ''">
                                    <span class="font-weight-bold">{{totalPrice | currency: "USD":"symbol"}}</span>
                                </div>

                            </div>
                        </mat-card>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2 px-0">
            <!-- <mat-card class=" px-4">
                <div>
                    <span class="h5 text-center font-weight-bold">Step 4:</span>&nbsp;
                    <span class="h5 text-center font-weight-bold">Add Credit Card Info</span>
                </div>
                <span class="text-center text-black">Please enter your credit card information in the form below. Once
                    everything looks correct, click Pay to complete your setup and
                    start using My Justice Portal!</span>
                <app-stripe class="pt-2 mt-2" [update]="update" [totalCount]="totalPrice" [isDisabled]="isDisabled" [plan]="plan" (isloading)="startLoader($event)" (couponData)="couponObj($event)" (onPayEvent)="onPayEvent($event)" [facilitiesList]="facilityList">
                </app-stripe>
            </mat-card> -->
            <mat-card>
                <div>
                    <span class="h5 text-center font-weight-bold">Credit Card Info</span>
                </div>
                <mat-card class="mat-elevation-z10 border-card mt-2">
                    <div class="d-flex flex-column">
                        <label>Card on file: <span>****&nbsp;{{cardDetails?.last4}}</span></label>
                        <label>Card type: <span>{{cardDetails?.brand}}</span></label>
                        <label>Card expiry:
                            <span>{{cardDetails?.exp_month < 10 ? '0' + cardDetails?.exp_month : cardDetails?.exp_month}}</span>
                                <span>/</span> <span>{{cardDetails?.exp_year}}</span>
                            </label>
                        <label>Next charge: <span>{{totalPrice - selectedFacilities[0]?.user_plan?.discount | currency: "USD":"symbol"}}</span></label>
                        <div class="d-flex justify-content-end">
                            <button class="button-purple px-4 py-1" mat-raised-button color="primary" (click)="onOpenChangeCardModal(openCardModal)">Update Card</button>
                        </div>
                    </div>
                </mat-card>
            </mat-card>
            <div *ngIf="!isDisabled">
                <div class="pt-2">
                    <mat-card>
                        <span class="h5 text-center font-weight-bold m-0">Coupon Code</span>
                        <p class="m-0 text-center mb-1">If you have a coupon code, enter it below.</p>
                        <input class="w-100 coupon-field border-0" matInput placeholder="Enter valid coupon code" [formControl]="cardForm.controls['coupon']">
                        <mat-error *ngIf="cardForm.controls['coupon'].hasError('invalidCoupon')">
                            <i>Invalid coupon. </i>
                        </mat-error>
                        <div class="d-flex justify-content-center">
                            <button mat-raised-button class="button-purple px-4 py-1 mt-3" (click)="onPay()">Pay
                            </button>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #openCardModal>
    <app-update-card-modal (cardChange)="cardChange($event)"></app-update-card-modal>
</ng-template>