<div class="col-12 pl-0">
    <mat-card>
        <h2 class="font-weight-bold m-0">Pending Inquiries</h2>
        <small>These are lawyer you attempted to contact,View your conversation here and approve new
            lawyers.</small>

        <div class="scroll">
            <table style="width:100%">
                <tr>
                    <th class="text-center">Law Firm</th>
                    <th class="text-center">Lawyer</th>
                    <th class="text-center">Sent</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                </tr>
                <tr *ngFor="let case of pendingCasesList">
                    <td>{{case?.Organization?.name}}</td>
                    <td>{{case?.firstName}} {{case?.middleName}} {{case?.lastName}}</td>
                    <td>{{case?.sent | date:'MM/dd/yyyy'}}</td>
                    <td>{{case?.statusDeclared}}</td>
                    <td class="d-flex justify-content-center align-items-center">
                        <div>
                            <button
                                [disabled]="(case.status === 'inmate_rejected' ||  case.status === 'Rejected' ||  case.status === 'Requested')"
                                class="btn btn-sm btn-primary" color="green"
                                (click)="onClickStatus('inmate_accepted',case.userId,case.caseId)">
                                Accept
                            </button>
                        </div>
                        <div>
                            <button
                                [disabled]="(case.status === 'inmate_rejected' || case.status === 'Rejected' ||case.status === 'Requested')"
                                class="btn btn-sm btn-warning" color="" (click)="onClickStatus('inmate_rejected',case.userId,case.caseId)">
                                Reject
                            </button>
                        </div>
                        <div>
                            <button
                                [disabled]="( case.status === 'inmate_rejected' || case.status === 'inmate_accepted' || case.status === 'Rejected' || case.status === 'Requested' || case.status === 'Approved')"
                                class="btn btn-sm btn-dark" (click)="onOpenModal(openModal,user)">
                                Message
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </mat-card>
</div>

<ng-template #openModal>
    <div>
        <h2 class="text-center font-weight-bold">Do You want to Chat more? </h2>
    </div>

    <div class="d-flex justify-content-between">
        <button mat-raised-button class="button-purple px-4 py-1" (click)="closeModal()">
            No
        </button>
        <button class="button-purple px-4 py-1" mat-raised-button (click)="saveChanges()">
            Yes
        </button>
    </div>
</ng-template>