.white-btn {
  background: #e4e4ec;
  color: #333442;
}

.padding-btn {
  padding-left: 10%;
  padding-right: 10%;
}

.btn-outline {
  outline: 4px auto -webkit-focus-ring-color;
}

.bg-card {
  background: #ededed;
}

.name-size {
  font-size: 18px;
}
.card-height {
  min-height: 180px;
}

.img-profile {
  width: 180px;
  padding: 3%;
  margin: auto;
  border: 2px solid #ededed;
}
.outer-card {
  border: 1px solid #333442;
  color: #333442;
  background: #e4e4ec;
}

.inner-card {
  border: 1px solid #333442;
  color: #333442;
  background: white;
}

.modal-btn {
  margin-left: 35%;
}

.bg-color {
  background-color: #333442;
}

.premium-tag {
  border: 1px solid #c5bcbc;
  background: #b5d8b5;
  font-size: 12px;
  font-style: italic;
  padding: 3px;
  border-radius: 7px;
}

.background-profile-headshot {
  background-size: cover;
  background-repeat: no-repeat;
  height: 170px;
  background-position: center;
}

.bg-button{
  background-color: #fff;
  border: none !important;
  outline: none;
}


// .mat-dialog-container {
//   display: block !important;
//   padding: 24px !important;
//   border-radius: 4px !important;
//   box-sizing: border-box !important;
//   overflow-y:scroll !important;
//   outline: 0 !important;
//   width: 100% !important;
//   height: auto !important;
//   min-height: inherit !important;
//   max-height: inherit !important;
// }

// ::ng-deep .mat-dialog-container 
// #hire-lawyer {
//   overflow-y:scroll !important;
//   height: auto !important;
//   overflow: auto;
//   height: auto;
//   top: 0;
//   left: 0;
// }

//  #mat-dialog-0{
//  overflow-y:scroll !important;
//  height: auto;
// }
// .cdk-overlay-pane{
//   overflow: auto;
//  max-height:80vh !important;
// }

// #mat-dialog-0{
//     height: auto !important;
//     overflow: auto !important;
//   }

// .containerheight .mat-dialog-container{
//   height: auto !important;
//   overflow: auto !important;
// }


// .layer{
//   height:80vh !important;
// }