<div class="col-12 col-sm-12 p-0 d-flex justify-content-between justify-content-sm-between">
    <div>
        <h1 class="header-title font-weight-bold">Manage Organisation.</h1>
        <label class="header-sub-text">Manage your Organisation information.</label>
    </div>
    <div>
        <button mat-raised-button class="button-purple px-4 py-1" (click)="openModal(inviteEmail)">Invite New
            User</button>
    </div>
</div>
<div class="row">
    <div class="col-8 pt-2">
        <mat-card>
            <div class="row px-3">
                <mat-form-field appearance="fill" class="w-100 p-1">
                    <mat-label>Organisation Name</mat-label>
                    <input type="text" matInput placeholder="Organisation Name"
                        [formControl]="organisationForm.controls['name']" required>
                    <mat-error>
                        <div
                            *ngIf="organisationForm.controls['name'].invalid && organisationForm.controls['name'].touched">
                            <small class="font13">
                                Organisation Name is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-6 pl-3">
                    <mat-form-field appearance="fill" class="w-100 p-1">
                        <mat-label>Street1</mat-label>
                        <input type="text" matInput placeholder="Street1"
                            [formControl]="organisationForm.controls['street1']" required>
                        <mat-error>
                            <div
                                *ngIf="organisationForm.controls['street1'].invalid && organisationForm.controls['street1'].touched">
                                <small class="font13">
                                    Street1 is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 pr-3">
                    <mat-form-field appearance="fill" class="w-100 p-1">
                        <mat-label>Street2</mat-label>
                        <input type="text" matInput placeholder="Street2"
                            [formControl]="organisationForm.controls['street2']">
                        <mat-error>
                            <div
                                *ngIf="organisationForm.controls['street2'].invalid && organisationForm.controls['street2'].touched">
                                <small class="font13">
                                    Street2 is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6 pl-3">
                    <mat-form-field appearance="fill" class="w-100 p-1">
                        <mat-label>City</mat-label>
                        <input type="text" matInput placeholder="City" [formControl]="organisationForm.controls['city']"
                            required>
                        <mat-error>
                            <div
                                *ngIf="organisationForm.controls['city'].invalid && organisationForm.controls['city'].touched">
                                <small class="font13">
                                    City is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 pr-3">
                    <mat-form-field appearance="fill" class="w-100 p-1">
                        <mat-label>State</mat-label>
                        <input type="text" matInput placeholder="State"
                            [formControl]="organisationForm.controls['state']">
                        <mat-error>
                            <div
                                *ngIf="organisationForm.controls['state'].invalid && organisationForm.controls['state'].touched">
                                <small class="font13">
                                    State is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6 pl-3">
                    <mat-form-field appearance="fill" class="w-100 p-1">
                        <mat-label>Country</mat-label>
                        <input type="text" matInput placeholder="Country"
                            [formControl]="organisationForm.controls['country']" required>
                        <mat-error>
                            <div
                                *ngIf="organisationForm.controls['country'].invalid && organisationForm.controls['country'].touched">
                                <small class="font13">
                                    Country is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 pr-3">
                    <mat-form-field appearance="fill" class="w-100 p-1">
                        <mat-label>Zip</mat-label>
                        <input type="number" matInput placeholder="Zip"
                            [formControl]="organisationForm.controls['zip']">
                        <mat-error>
                            <div
                                *ngIf="organisationForm.controls['zip'].invalid && organisationForm.controls['zip'].touched">
                                <small class="font13">
                                    Zip is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 d-flex justify-content-end justify-content-sm-end">
                    <div>
                        <button mat-raised-button class="button-purple px-4 py-1"
                            (click)="saveChanges()">{{buttonText}}</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-4 p-2">
        <div class="d-flex justify-content-end pr-3">
            <button [routerLink]="'/organisation/users'" class="button-purple px-4 py-1" mat-raised-button>View All
                Users</button>
        </div>
        <div class="d-flex justify-content-end pr-3 pt-2">
            <button [routerLink]="'/organisation/facilities'" class="button-purple px-4 py-1" mat-raised-button>Manage
                Facilities</button>
        </div>
    </div>
</div>

<ng-template #inviteEmail>
    <div class="d-flex justify-content-center modal-header">
        <mat-label class="font-weight-bold">Invite User.</mat-label>
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <mat-form-field appearance="fill" class="w-100 p-1">
                        <mat-label>Email</mat-label>
                        <input type="Email" matInput placeholder="Email"
                            [formControl]="inviteMailForm.controls['email']" required>
                        <mat-error>
                            <div
                                *ngIf="inviteMailForm.controls['email'].invalid && inviteMailForm.controls['email'].touched">
                                <small class="font13">
                                    Email is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between modal-footer">
        <button [disabled]="inviteMailForm.get('email').invalid" class="button-purple px-4 py-1" mat-raised-button
            (click)="onEmailInvite()">Submit</button>

        <button type="button" class="px-4 py-1" mat-raised-button class="button-purple px-4 py-1"
            (click)="closeModal()">Close</button>
    </div>
</ng-template>