<div class="row">
    <div class="col-7">
        <div>
            <h1 class="line-height font-weight-bold">My Cases</h1>
            <h4 class="line-height header-sub-text">
                A dashboard to view and manage all the cases you have created
            </h4>
        </div>

        <div *ngFor="let case of caseList; let i= index" class="pr-2 pb-2 pt-2 pl-0">
            <mat-card class="w-100 card-style">
                <div class="d-flex justify-content-between">
                    <div>
                        <mat-label>
                            <span class="case-heading color">
                                Case {{i+1}}:&nbsp;
                                <span *ngIf="case?.briefDescriptionOfChargeOrLegalMatter.length < 45">
                                    {{case?.legalMatter}}
                                    <br><span
                                        class="font-weight-normal">{{case?.briefDescriptionOfChargeOrLegalMatter}}</span>
                                </span>
                                <span *ngIf="case?.briefDescriptionOfChargeOrLegalMatter.length > 45">
                                    {{case?.legalMatter}}
                                    <br><span
                                        class="font-weight-normal">{{case?.briefDescriptionOfChargeOrLegalMatter | slice:0:45}}...</span>
                                </span>
                            </span>
                        </mat-label>
                        <br>
                        <!-- <span class="color">{{case?.otherInformation}}</span> -->
                    </div>
                    <div class="d-flex">
                        <!-- <div class="pr-2">
                            <button class="button-purple ml-1" mat-mini-fab title="Add/Edit Notes"
                                (click)="openModal(managenotesModel,case)">
                                <mat-icon>filter_list</mat-icon>
                            </button>
                        </div> -->
                        <div>
                            <button mat-mini-fab color="primary" title="View Details" [routerLink]="case?.caseId">
                                <mat-icon>play_arrow</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="pr-2 pb-2 pt-2 pl-0">
            <button class="button-purple px-5 py-1" mat-raised-button [routerLink]="'create'">
                Add a New Case
            </button>
        </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
        <div>
            <h1 class="line-height font-weight-bold">Sponsors</h1>
            <h4 class="line-height header-sub-text">Laywers and bondsman ready to help</h4>
        </div>
        <mat-card>
            <div class="mt-4" *ngFor="let user of sponsorUserList; ">
                <mat-card class="sponser-card w-100">
                    <div class="text-center line-height">
                        <div>
                            <img src="{{user?.userAdditionalInfo?.profile?.downloadLink}}" width="200" height="60"
                                alt="logo">
                        </div>
                        <div>
                            <h4 class=" line-height color">{{user?.firstName}}
                                {{user?.middleName}}{{user?.lastName}}</h4>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button (click)="onViewLawyer(user.userId)" class="btn bg-color px-perc py-1"
                            mat-raised-button>View Profile</button>
                    </div>
                </mat-card>
            </div>
        </mat-card>
    </div>
</div>

<ng-template #managenotesModel>
    <div class="d-flex justify-content-start p-0">
        <h3 class="font-weight-bold pl-2">My Private Case Notes:</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field appearance="fill" class="w-100 p-2">
                <textarea rows="10" matInput [formControl]="caseNoteForm.controls['notes']"></textarea>
                <mat-error>
                    <div *ngIf="caseNoteForm.controls['notes'].invalid && caseNoteForm.controls['notes'].touched">
                        <small class="font13">
                            Notes is Required
                        </small>
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="d-flex justify-content-between p-0">
        <button mat-raised-button class="button-purple mt-2 px-4 py-1" (click)="onCancelNotesModal()">
            Cancel
        </button>
        <button mat-raised-button color="primary" class="px-4 py-1 mt-2" [disabled]="caseNoteForm.get('notes').invalid"
            (click)="onSaveChanges()">
            Save
        </button>
    </div>
</ng-template>


<!-- Button trigger modal -->
<button id="modalopen" #modalopen [hidden]="true" data-toggle="modal" data-target="#exampleModalCenter">
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered px-4 py-4" role="document">
        <div class="modal-content px-4 py-4">
            <div class="d-flex justify-content-end">
                <button type="button" class="bg-button" data-dismiss="modal">
                    X
                </button>
            </div>
            <div class="mb-5">
                <h2 class="text-center">Welcome to My Justice Portal!</h2>
                <h2 class="text-center">How it works:</h2>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <div class="modal-btn">
                    <button type="button" class="btn btn-secondary button-purple px-2" data-dismiss="modal">Accept and
                        Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>