<div class="d-flex justify-content-between">
    <div>
        <h1 class="mb-0">View Accepted Users:</h1>
        <h4>View accepted/rejected users.</h4>
    </div>
    <div class="mat-card align-self-center pb-1">
        <mat-checkbox class="check-style" color="primary" title="View Rejected Cases"
            (change)="onViewRejectedCases($event.checked)">
            View Rejected
        </mat-checkbox>
    </div>
</div>

<div>
    <mat-card class="outer-card mat-elevation-z10 mt-3">
        <mat-label class="font-weight-bold">
            Requested users({{requestedUser?.length}}):
        </mat-label>
        <mat-card class="inner-card mt-2" *ngIf="!requestedUser?.length">
            <span>No data available.</span>
        </mat-card>
        <mat-card class="d-flex flex-row justify-content-between align-items-center inner-card mt-2"
            *ngFor="let user of requestedUser">
            <div class="d-flex flex-column">
                <!-- <span>{{case?.briefDescriptionOfChargeOrLegalMatter}}</span> -->
                <span>
                    Requested By: {{user?.user?.firstName}}
                    <span *ngIf="case?.inmate?.middleName">
                        &nbsp;{{user?.user?.middleName}}
                    </span>
                    &nbsp;{{user?.user?.lastName}}
                </span>
                <span>
                    Status:&nbsp;
                    <span class="font-weight-bold" [ngClass]="{'text-success': user?.status == 'Approved',
                        'text-danger': user?.status == 'Rejected'}">
                        {{user?.status}}
                    </span>
                </span>
                <!-- <span>
                    Files attached:{{case?.caseFile?.length}}
                </span> -->
            </div>
            <div>
                <button *ngIf="user?.status == 'Approved'" [routerLink]="user?.bondsman_userId"
                    class="button-purple mr-1" mat-mini-fab title="View Case Details">
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
            </div>
        </mat-card>
    </mat-card>
</div>