<div class="container py-5">

    <h4>Privacy Policy </h4>

    <div>
        <h1><b>PRIVACY NOTICE</b></h1>
    </div>
    <h4>Last updated January 6, 2021</h4>

    <div>
        Thank you for choosing to be part of our community at My Justice Portal, LLC (<b>"Company", "platform",
            "portal", "we", "us", "our"</b>). We are committed to protecting your personal information and your right to
        privacy.
        If you have any questions or concerns about this privacy notice, or our practices with regards to your personal
        information, please contact us at <a>yourfriends@myjusticeportal.com</a> or (855) 243-8657.
    </div><br>

    <div>
        <p>
            We appreciate that you are trusting us with your personal information. We take your privacy very seriously.
            In this privacy notice, we seek to explain to you in the clearest way possible what information we collect,
            how we use it and what rights you have in relation to it. We hope you take some time to read through it
            carefully, as it is important. If there are any terms in this privacy notice that you do not agree with,
            please discontinue use of our Services immediately.
        </p>
    </div>

     <div>
        <p>
            This privacy notice applies to all information collected through any of our Services (the “Services”) as
            well as, any related services, sales, marketing or events.
        </p>
    </div>

    <div>
        <b>Please read this privacy notice carefully as it will help you understand what we do with the information that
            we collect. </b>
    </div>

    <div>
        <h3>TABLE OF CONTENTS </h3>
    </div>
    <div>
        <u>1. WHAT INFORMATION DO WE COLLECT?</u>
        <br><u>2. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</u>
        <br><u>3. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</u>
        <br><u>4. IS YOUR INFORMATION TRANSFERRED INTERNATIONALLY?</u>
        <br><u>5. HOW LONG DO WE KEEP YOUR INFORMATION?</u>
        <br><u>6. DO WE COLLECT INFORMATION FROM MINORS?</u>
        <br><u>7. WHAT ARE YOUR PRIVACY RIGHTS?</u>
        <br><u>8. CONTROLS FOR DO-NOT-TRACK FEATURES</u>
        <br><u>9. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</u>
        <br><u>10. DO WE MAKE UPDATES TO THIS NOTICE?</u>
        <br><u>11. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</u>
        <br><u>12. HOW CAN YOU REVIEW, UPDATE OR DELETE THE DATA WE COLLECT FROM YOU?</u>
    </div>
    <div>
        <h1>1. WHAT INFORMATION DO WE COLLECT?</h1>
        <b>Personal information you disclose to us </b>
    </div>
    <div>
        <i><b>In Short:</b> We collect personal information that you provide to us. </i>
    </div>
    <p>
        We collect personal information that you voluntarily provide to us when you contact us or when you create an
        account
        on My Justice Portal LLC.

    </p>
    <p>
        The personal information that we collect depends on the context of your interactions with us, the choices you
        make
        and the products and features you use. The personal information we collect may include the following:

    </p>
    <p> Name, name of company or organization, address, phone number, email address, IP address and state Bar number.
    </p>
    <p>

        All personal information that you provide to us must be true, complete and accurate, and you must notify us of
        any
        changes to such personal information.
    </p>

    <h2><b>Information automatically collected</b></h2>

    <i>
        <b>In Short:</b> Some information — such as your Internet Protocol (IP) address and/or browser and device
        characteristics — is collected automatically when you visit our platform.

    </i>
    <p>
        We automatically collect certain information when you visit, use or navigate the platform. This information does
        not
        reveal your specific identity (like your name or contact information) but may include device and usage
        information,
        such as your IP address, browser and device characteristics, operating system, language preferences, referring
        URLs,
        device name, country, location, information about how and when you use our and other technical information. This
        information is primarily needed to maintain the security and operation of our platform, and for our internal
        analytics and reporting purposes.
    </p>

    <p>Like many businesses, we also collect information through cookies and similar technologies.</p>

    <div>
        <h1>2. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</h1>
    </div>

    <p>

        <b>In Short:</b> We only share information with your consent, to comply with laws, to provide you with services,
        to protect your rights, or to fulfill business obligations.

        </p> 
        <p>
            We may process or share your data that we hold based on the following legal basis:
            More specifically, we may need to process your data or share your personal information in the following
            situations:

        </p>
        <ul>
            <li> <b>Business Transfers.</b> We may share or transfer your information in connection with, or during
                negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of
                our business to another company.</li>
            <li> <b>Affiliates.</b> We may share your information with our affiliates, in which case we will require
                those affiliates to honor this privacy notice. Affiliates include any subsidiaries, joint venture
                partners or other companies that we control or that are under common control with us.</li>
            <li> <b>Business Partners.</b> We may share your information with our business partners to offer you certain
                products, services or promotions.</li>
            <li><b>Other Users.</b> When you share personal information or otherwise interact with public areas of the
                platform, such personal information may be viewed by all users and may be publicly made available
                outside the in perpetuity. </li>

        </ul>
        <div>
            <h1>3. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h1>
        </div>
        <i><b>In Short:</b> We may use cookies and other tracking technologies to collect and store your
            information.</i>

        We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store
        information. Specific information about how we use such technologies and how you can refuse certain cookies is
        set out in our Cookie Notice.

        <div>
            <h1>4. IS YOUR INFORMATION TRANSFERRED INTERNATIONALLY?</h1>
        </div>


        <i><b>In Short:</b> Your information will not be transferred internationally.</i>

        <p>
            We only serve users in the United States and its territories. Your information will not be transferred
            internationally.

        </p>
        <div>
            <h1>5. HOW LONG DO WE KEEP YOUR INFORMATION?</h1>
        </div>


        <i><b>In Short:</b> We keep your information for as long as necessary to fulfill the purposes outlined in this
            privacy notice unless otherwise required by law.</i>

        <p>
            We will only keep your personal information for as long as it is necessary for the purposes set out in this
            privacy notice, unless a longer retention period is required or permitted by law (such as tax, accounting or
            other legal requirements). No purpose in this notice will require us keeping your personal information for
            longer than two years, for inactive accounts.

        </p>
        <p>
            When we have no ongoing legitimate business need to process your personal information, we will either delete
            or anonymize such information, or, if this is not possible (for example, because your personal information
            has been stored in backup archives), then we will securely store your personal information and isolate it
            from any further processing until deletion is possible.

        </p>
        <div>
            <h1>6. DO WE COLLECT INFORMATION FROM MINORS?</h1>
        </div>


        <i><b>In Short:</b> We do not knowingly collect data from or market to children under 18 years of age.</i>

        <p>
            We do not knowingly solicit data from or market to children under 18 years of age. By using the platform,
            you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to
            such minor dependent’s use of the platform. If we learn that personal information from users less than 18
            years of age has been collected, we will deactivate the account and take reasonable measures to promptly
            delete such data from our records. If you become aware of any data we may have collected from children under
            age 18, please contact us at legal@myjusticeportal.com.

        </p>
        <div>
            <h1>7. WHAT ARE YOUR PRIVACY RIGHTS?</h1>
        </div>


        <i><b>In Short: </b> You may review, change, or terminate your account at any time.</i>
        <p>

            If you are a resident in the European Economic Area and you believe we are unlawfully processing your
            personal information, you also have the right to complain to your local data protection supervisory
            authority. You can find their contact details here: <a
                href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm"></a>.

        </p>
        <p>
            If you are a resident in Switzerland, the contact details for the data protection authorities are available
            here: . <a
                href="https://www.edoeb.admin.ch/edoeb/en/home.html">https://www.edoeb.admin.ch/edoeb/en/home.html</a>

        </p>
        <b>Account Information</b>

        <p>
            If you would at any time like to review or change the information in your account or terminate your account,
            you can simply close your account in Account Settings.

        </p>
        <p>
            Upon your request to terminate your account, we will deactivate or delete your account and information from
            our active databases. However, we may retain some information in our files to prevent fraud, troubleshoot
            problems, assist with any investigations, enforce our Terms of Use and/or comply with applicable legal
            requirements.

        </p>
        <p>
            <b><u>Opting out of email marketing:</u></b> You can unsubscribe from our marketing email list at any time
            by clicking on the unsubscribe link in the emails that we send or by contacting us using the details
            provided below. You will then be removed from the marketing email list — however, we may still communicate
            with you, for example to send you service-related emails that are necessary for the administration and use
            of your account, to respond to service requests, or for other non-marketing purposes. To otherwise opt-out,
            you may email yourfriends@myjusticeportal.com:

        </p>
        <div>
            <h1>8. CONTROLS FOR DO-NOT-TRACK FEATURES</h1>
        </div>


        <p>
            Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track ("DNT")
            feature or setting you can activate to signal your privacy preference not to have data about your online
            browsing activities monitored and collected. At this stage no uniform technology standard for recognizing
            and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals
            or any other mechanism that automatically communicates your choice not to be tracked online. If a standard
            for online tracking is adopted that we must follow in the future, we will inform you about that practice in
            a revised version of this privacy notice.

        </p>
        <div>
            <h1>9. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</h1>
        </div>


        <i><b>In Short: </b> Yes, if you are a resident of California, you are granted specific rights regarding access
            to your personal information.</i>

        <p>
            California Civil Code Section 1798.83, also known as the "Shine The Light" law, permits our users who are
            California residents to request and obtain from us, once a year and free of charge, information about
            categories of personal information (if any) we disclosed to third parties for direct marketing purposes and
            the names and addresses of all third parties with which we shared personal information in the immediately
            preceding calendar year. If you are a California resident and would like to make such a request, please
            submit your request in writing to us using the contact information provided below.

        </p>
        <p>1280 Hwy 9, Suite 600-235, Alpharetta, GA 30004. Attention Privacy Manager.</p>

        <div>
            <h1>10. DO WE MAKE UPDATES TO THIS NOTICE? </h1>
        </div>


        <i><b>In Short:</b> Yes, we will update this notice as necessary to stay compliant with relevant laws.</i>

        <p>
            We may update this privacy notice from time to time. The updated version will be indicated by an updated
            "Revised" date and the updated version will be effective as soon as it is accessible. If we make material
            changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or
            by directly sending you a notification. We encourage you to review this privacy notice frequently to be
            informed of how we are protecting your information.

        </p>
        <div>
            <h1>11. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h1>
        </div>


        <p>
            If you have questions or comments about this notice, you may email us at
            <a>yourfriends@myjusticeportal.com</a> or by post to:
        </p>
        <p>1280 Hwy 9, Suite 600-235, Alpharetta, GA 30004.</p>


        <div>
            <h1>12. HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU? </h1>
        </div>


        <p>Based on the applicable laws of your country, you may have the right to request access to the personal
            information we collect from you, change that information, or delete it in some circumstances. To request to
            review, update, or delete your personal information, please submit a request to
            <a>yourfriends@myjusticeportal.com</a> or 1280 Hwy 9, Suite 600-235, Alpharetta, GA 30004. We will respond
            to your request within 30 days.
        </p>


</div>