<div class="col-12 pl-0">
    <div class="d-flex justify-content-between align-items-center pb-3">
        <div>
            <h1 class="line-height font-weight-bold">Facility Users</h1>
            <h4 class="line-height header-sub-text">
                All users.
            </h4>
        </div>
    </div>
    <mat-card>
        <div class="d-flex justify-content-between">
            <div>
                <mat-form-field class="w-100">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="search($event.target.value)">
                </mat-form-field>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let user">
                    {{user?.firstName}} {{user?.middleName}} {{user?.lastName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
                <td mat-cell *matCellDef="let user">
                    <span>{{user?.userName}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let user">
                    {{user?.email}}</td>
            </ng-container>
            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                <td mat-cell *matCellDef="let user">
                    {{user?.mobile}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="getPageSizeOptions()"></mat-paginator>
    </mat-card>

</div>