<div class="d-flex justify-content-between">
    <div>
        <h1 class="mb-0">User Details</h1>
        <h4>View requested user details.</h4>
    </div>
    <div>
        <button mat-raised-button class="btn-background px-5 py-1" (click)="onGoBack()">
            Go Back
        </button>
    </div>
</div>

<div>
    <mat-card class="inner-card mat-elevation-z10 mt-3">
        <mat-label class="font-weight-bold" *ngIf="!singleUserData">
            <span>No data available, invalid url detected.</span>
        </mat-label>
        <div class="d-flex flex-column" *ngIf="singleUserData">
            <span>
                <strong>Requested By: </strong>{{singleUserData?.user?.firstName}}
                <span *ngIf="singleUserData?.inmate?.middleName">
                    &nbsp;{{singleUserData?.user?.middleName}}
                </span>
                &nbsp;{{singleUserData?.user?.lastName}}
            </span>
            <span class="pt-2">
                <strong>Status:</strong>&nbsp;
                <span class="font-weight-bold" [ngClass]="{'text-warning': singleUserData?.status == 'Requested', 
                        'text-success': singleUserData?.status == 'Approved',
                        'text-danger': singleUserData?.status == 'Rejected'}">
                    {{singleUserData?.status}}
                </span>
            </span>
        </div>
    </mat-card>
</div>