<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <mat-card>
            <mat-card-title class="py-2">User Information:</mat-card-title>
            <mat-card-content>
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Name:&nbsp;</th>
                            <td>
                                <span> {{selectedUserData?.firstName | titlecase}}
                  <span *ngIf="selectedUserData?.middleName">
                    &nbsp;{{selectedUserData?.middleName | titlecase}}
                  </span> &nbsp;{{selectedUserData?.lastName | titlecase}}
                                </span>
                                <span *ngIf="!selectedUserData?.firstName && !selectedUserData?.middleName && !selectedUserData?.lastName">
                                    N/A
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>Role(s):&nbsp;</th>
                            <td class="d-flex align-items-center justify-content-between py-1">
                                <span *ngFor="let role of selectedUserData?.roles;let isLast=last">
                                {{role?.name}}{{isLast ? '' : ', '}}
                               </span>
                                <span>
                          <button mat-button color="primary" class="onHover" (click)="openChangeRoleModal(changeRoleModal)">
                            Change Role
                          </button>
                             </span>
                            </td>
                        </tr>
                        <tr *ngIf="selectedUserData?.roles[0]?.roleId === 1">
                            <th>Facility(s):&nbsp;</th>
                            <td class="d-flex align-items-center justify-content-between py-1">
                                <span *ngFor="let facility of selectedUserData?.facilities;let isLast=last">
                                    {{facility?.facilityName}}{{isLast ? '' : ', '}}
                                </span>
                                <span>
                             <button mat-button color="primary" class="onHover" (click)="openChangefacilityModal(changeFacilityModal)">
                               Change Facility
                             </button>
                            </span>
                            </td>
                        </tr>
                        <tr>
                            <th>Username:&nbsp;</th>
                            <td>{{selectedUserData?.userName}}</td>
                        </tr>
                        <tr>
                            <th>Date Created:&nbsp;</th>
                            <td>{{selectedUserData?.createdAt | date:'longDate'}}</td>
                        </tr>
                        <tr>
                            <th>Mobile:&nbsp;</th>
                            <td>
                                <span *ngIf="selectedUserData?.mobile">
                              {{selectedUserData?.mobile}}
                              </span>
                                <span *ngIf="!selectedUserData?.mobile">N/A</span>
                            </td>
                        </tr>
                        <tr>
                            <th>{{selectedUserData?.roles[0].name}} Status:&nbsp;</th>
                            <td>
                                <mat-slide-toggle color="warn" [checked]="selectedUserData?.status" [formControl]="userDetailsForm.controls['status']" (change)="onChangeStatus()">
                                    {{selectedUserData?.status ? 'Enabled' : 'Disabled'}}
                                </mat-slide-toggle>
                            </td>
                        </tr>
                        <tr>
                            <th>MFA:&nbsp;</th>
                            <td>
                                <mat-slide-toggle color="warn" [checked]="selectedUserData?.isMFA" [formControl]="userDetailsForm.controls['isMFA']" (change)="onChangeMfa()">
                                    {{selectedUserData?.isMFA ? 'Enabled' : 'Disabled'}}
                                </mat-slide-toggle>
                            </td>
                        </tr>
                        <tr *ngIf="selectedUserData?.roles[0]?.roleId === 3 || selectedUserData?.roles[0]?.roleId === 5">
                            <th>Organization:&nbsp;</th>
                            <td>{{selectedUserData?.Organization?.name}}
                                <span *ngIf="!selectedUserData?.Organization?.name">N/A</span>
                            </td>
                        </tr>
                        <tr *ngIf="selectedUserData?.roles[0]?.roleId === 3 || selectedUserData?.roles[0]?.roleId === 5">
                            <th>Address:&nbsp;</th>
                            <td>{{selectedUserData?.Organization?.Address?.street1}}, {{selectedUserData?.Organization?.Address?.street2}}, {{selectedUserData?.Organization?.Address?.city}}, {{selectedUserData?.Organization?.Address?.state}}, {{selectedUserData?.Organization?.Address?.country}},
                                {{selectedUserData?.Organization?.Address?.zip}}
                                <span *ngIf="!selectedUserData?.Organization?.Address?.street1
                                 && !selectedUserData?.Organization?.Address?.street2 && !selectedUserData?.Organization?.Address?.city
                                  && selectedUserData?.Organization?.Address?.state && selectedUserData?.Organization?.Address?.country">N/A</span>
                            </td>
                        </tr>
                        <tr *ngIf="selectedUserData?.roles[0]?.roleId === 2">
                            <th>Assign Facility:&nbsp;</th>
                            <td class="d-flex align-items-center justify-content-between py-1">
                                <div *ngIf="selectedUserData?.facility.length <= 0">
                                    <small class="text-danger">This user is not assigned to any facility.</small>
                                </div>
                                <div *ngIf="selectedUserData?.facility.length > 0">
                                    <span *ngFor="let facility of selectedUserData?.facility;let isLast=last">
                                        {{facility?.facilityName}}{{isLast ? '' : ', '}}
                                    </span>
                                </div>
                                <span>
                                <button mat-button color="primary" class="onHover" (click)="assigneefacilityModal(changeFacilityModal)">
                                  Assign Facility
                                </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #changeRoleModal>
    <h2 mat-dialog-title>Change Role:</h2>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Select Role</mat-label>
            <mat-select [(ngModel)]="selectedRoleId" name="selectedRole">
                <mat-option *ngFor="let role of roleList" [value]="role?.roleId">
                    {{role?.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="float-right pb-4">
        <button mat-raised-button (click)="onCloseModal()">Close</button>
        <button mat-raised-button class="button-purple" [mat-dialog-close]="selectedRoleId" cdkFocusInitial>
      Save
    </button>
    </div>
</ng-template>

<ng-template #changeFacilityModal>
    <h2 mat-dialog-title>Change Facility:</h2>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Select Facility</mat-label>
            <mat-select [(ngModel)]="selectedFacilityId" name="selectedFacility">
                <mat-option *ngFor="let facility of facilityList" [value]="facility?.facilityId">
                    {{facility?.facilityName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="float-right pb-4">
        <button mat-raised-button (click)="onCloseModal()">Close</button>
        <button mat-raised-button class="button-purple" [mat-dialog-close]="selectedFacilityId" cdkFocusInitial>
      Save
    </button>
    </div>
</ng-template>

<ng-template #AssigneFacilityModal>
    <h2 mat-dialog-title>Change Facility:</h2>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Select Facility</mat-label>
            <mat-select [(ngModel)]="selectedFacilityId" name="selectedFacility">
                <mat-option *ngFor="let facility of facilityList" [value]="facility?.facilityId">
                    {{facility?.facilityName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="float-right pb-4">
        <button mat-raised-button (click)="onCloseModal()">Close</button>
        <button mat-raised-button class="button-purple" [mat-dialog-close]="selectedFacilityId" cdkFocusInitial>
      Save
    </button>
    </div>
</ng-template>