<div class="chat-messages">
    <div class="d-flex justify-content-between align-items-between mb-2 ">
        <div>
            <label class="font-weight-bolder" style="font-size: 18px; color: #333442;">Chat with: {{userName}}</label>
        </div>
        <div>
            <button type="button" class="modaldismiss" (click)="close() ">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    </div>
   
    
    <div id="scroller" class="chat-messages-show-container chat-scroll" style="overflow: scroll; height: xyz;" #scrollMe
        [scrollTop]="scrollMe.scrollHeight">
        <div *ngFor="let messages of allMessages"
            [ngClass]="messages.senderId !== senderId ? 'sender-align': 'receiver-align'">
            <ul [ngClass]="messages.senderId !== senderId ? 'sender-messages':'receiver-messages '"
                class="chat-messages-show-list d-flex flex-column" id="message-list">
                <li>
                 {{messages.message}}
                </li>
                <div><span>{{messages.createdAt | date:'shortTime'}}</span></div>

            </ul>
        </div>

        <mat-spinner *ngIf="isLoading" class="spinner-style" [diameter]="50"></mat-spinner>
    </div>
    <div class="chat-messages-create-container">
        <div class="col-12 d-flex justify-content-between">
            <input class="chat-messages-create-input" placeholder="Type a message" type="text" [(ngModel)]="message"
                (keydown.enter)="SendMessage()">
            <button mat-raised-button class="px-4 send-msg-btn" (click)="SendMessage()">
                Send
            </button>
        </div>
    </div>
</div>