<div class="chat-messages">
    <div class="d-flex justify-content-between align-items-between mb-2 ">
        <div>
            <label class="font-weight-bolder" style="font-size: 18px; color: #333442;">Chat with: {{userName}}</label>
        </div>
        <div>
            <button type="button" class="modaldismiss" (click)="close()">
                <span aria-hidden="true">&times;</span>
             </button>
        </div>
    </div>

    <div>
        <app-chat [receiverId]="receiverId" [allMessages]="allMessages" [isChatLimit]="isChatLimit">
        </app-chat>
    </div>
</div>