<div class="d-flex justify-content-center align-items-center flex-column">
    <div class="pt-4">
        <img src="assets/img/logo.png" alt="logo" class="logo-w" />
    </div>

    <mat-card class="w-25 p-5">
        <h2>Reset your password:</h2>
        <div>
            <mat-form-field class="w-100 mb-2" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Type password"
                    [formControl]="resetPasswordForm.controls['password']" required />
                <mat-error
                    *ngIf="resetPasswordForm.controls['password'].touched && resetPasswordForm.controls['password'].invalid">
                    <i class="errorText">Invalid password entered.</i>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" placeholder="Type confirm password"
                    [formControl]="resetPasswordForm.controls['confirmPassword']" required />
                <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].touched && resetPasswordForm.controls['confirmPassword'].invalid &&
                    resetPasswordForm.controls['confirmPassword'].hasError('notSamePassword')">
                    <i class="errorText">Password doesn't matched.</i>
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="float-right px-5 mt-3" [disabled]="resetPasswordForm.invalid"
            (click)="onSavePassword()">
            Save
        </button>
    </mat-card>

    <div class="pt-2">
        <a [routerLink]="'/login'" mat-button>Back to Login</a>
    </div>
</div>