<div class="container">
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="channel_heading">
                        <h4>Lawyers</h4>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="channels" *ngFor="let user of userMessageList">
                        <div class="chat_list" [ngClass]="{'active': selectedUser == user?.userId}">
                            <div class="chat_people">
                                <div class="chat_ib">
                                    <h5 (click)="onClicklawyer(user?.userId)" style="cursor: pointer;">
                                        {{user?.firstName}} {{user?.middleName}}
                                        {{user?.lastName}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>