<div class="d-flex justify-content-center align-items-center bg-color">
    <div class="my-3">
        <div class="d-flex justify-content-center">
            <img src="assets/img/logo.png" alt="logo" class="logo">
        </div>

        <div>
            <h1 class="text-center">Inmate Registration</h1>
        </div>

        <h3 *ngIf="!spinner" class="text-center font-weight-bold">Step 3/3</h3>

        <div *ngIf="spinner" class="d-flex justify-content-center align-items-center spinner">
            <mat-spinner color="primary"></mat-spinner>
        </div>

        <mat-card *ngIf="!spinner" class="p-5">
            <h2 class="font-weight-bold mb-1 text-center">
                Security Questions
            </h2>
            <p class="text-dark text-center m-0">
                Please set your security question so you can access
            </p>
            <p class="text-dark text-center m-0 pb-2">
                your account if you ever forget your password or ID.
            </p>
            <div class="mb-5">
                <section class="d-flex justify-content-center align-item-center">
                    <mat-progress-bar mode="determinate" value="{{progressValue}}"></mat-progress-bar>
                    <div class="mat-progress-section">{{count}}/3</div>
                </section>
            </div>
            <mat-form-field appearance="fill" class="wpx-420">
                <mat-label>Select Question</mat-label>
                <mat-select [formControl]="securityQuestionForm.controls['securityQuestionId']">
                    <mat-option *ngFor="let question of securityQuestions" [value]="question.securityQuestionId">
                        {{question.question}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Answer</mat-label>
                <input type="text" matInput placeholder="Answer" [formControl]="securityQuestionForm.controls['answer']" required />
            </mat-form-field>

            <div class="d-flex justify-content-between">
                <button *ngIf="!count" mat-button color="primary" (click)="onPreviousClick()">
                    BACK
                </button>
                <button *ngIf="count" mat-button color="primary" [disabled]="!count" (click)="onClickBack()">
                    BACK
                </button>
                <button *ngIf="count != 2" class="px-4 py-1" mat-raised-button color="primary" [disabled]="securityQuestionForm.invalid" (click)="onClickNext()">
                    NEXT
                </button>
                <button *ngIf="count == 2" class="px-4 py-1" mat-raised-button color="primary" [disabled]="securityQuestionForm.invalid" (click)="onClickRegister()">
                    REGISTER
                </button>
            </div>
        </mat-card>
        <div *ngIf="!spinner" class="row d-flex justify-content-center pt-2">
            <a [routerLink]="'/login'" mat-button>Back to Login</a>
        </div>
    </div>
</div>