@import "../../../../assets/scss/variable";

.logo {
  width: 225px;
  height: 135px;
}

.bg-color {
  background-color: $custom-bg-color;
}

.mat-border {
  border: 1px solid #040b27;
  border-radius: 5px;
}

.hpx {
  height: 53px;
}

a:hover {
  color: blue !important;
}
.create_color {
  padding-top: 4px;
  color: #ffffff;
  background-color: #333442;
}
.line-height {
  line-height: 10px !important;
  font-size: 10px;
}
.spinner{
  background: rgba(0, 0, 0, 0.2);;
  width: 100%;
  height: 100vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  position: absolute;
  z-index: 1;
}
