@import '../../../../assets/scss/variable';

.logo {
  width: 225px;
}

.bg-color {
  background-color: $custom-bg-color;
}

.mat-border {
  border: 1px solid #040b27;
  border-radius: 5px;
}

.hpx {
  height: 53px;
}

a:hover {
  color: blue !important;
}
.create_color{
  color: $custom-orange;
}
.line-height {
  line-height: 10px !important;
  font-size: 10px;
}
