<div class="row d-flex justify-content-end">
    <div>
        <button [routerLink]="'/mjp/user/hire-lawyer'" class="white-btn padding-btn btn-outline float-right py-1"
            mat-raised-button>
            Back To Hire a Lawyer
        </button>
    </div>
</div>

<div class="pt-2">
    <mat-card>
        <!-- <img src="assets/img/lawyer.PNG" class="w-100"> -->
        <div class="row p-4">
            <div class="col-4">
                <h3 class="font-weight-bold">Lawyer’s Information:</h3>
                <span class="font-weight-bold">Address:
                    <span class="font-weight-light"> {{orgDetails?.Address?.street1}}
                        {{orgDetails?.Address?.street2}}</span>
                    <span class="font-weight-light"> {{orgDetails?.Address?.city}} {{orgDetails?.Address?.zip}}</span>
                </span>
                <br>
                <span class="font-weight-bold">Speciality: </span>
                <br>
                <span class="font-weight-bold"> - </span>
                <span> DUI </span>
                <br>
                <span class="font-weight-bold"> - </span>
                <span> Drug Charges </span>
                <br>
                <button class="button-purple padding-btn btn-outline  py-1" mat-raised-button>
                    Contact
                </button>
            </div>
            <div class="col-8">
                <h3 class="font-weight-bold">Lawyer’s Statement:</h3>
                <span>Are you facing criminal charges in Atlanta area? Don’t face this unnerving process alone—call The
                    Lawyer Firm. With your
                    future on the line, you need the guidance of an experienced and dedicated advocate. Our criminal
                    defense team never
                    loses sight of the severe penalties you face if you are convicted, and we are committed to
                    protecting your rights &
                    crafting an effective defense on your behalf. We take the time to collect all the facts and evidence
                    so that we can
                    build a strong case capable of withstanding the prosecution. You can trust our track record and
                    commitment to justice.</span>
            </div>
        </div>
    </mat-card>
    <mat-card class="outer-card">
        <mat-label class="font-weight-bold">
            Filtered Results:
        </mat-label>
        <div *ngIf="!orgDetails?.users?.length">
            <mat-label class="font-weight-bold text-danger">
                No data found.
            </mat-label>
        </div>
        <mat-card *ngFor="let user of orgDetails?.users"
            class="d-flex justify-content-between align-items-center inner-card mt-2">
            <div>
                <mat-label class="font-weight-bold">
                    {{user?.firstName}} {{user?.middleName}} {{user?.lastName}}
                </mat-label>
                <!-- <div class="pt-1">
                            <span>
                                {{user?.Address.city}}, {{user?.Address.state}}
                            </span>
                            <span class="pl-2">
                                {{user?.orgCode}}
                            </span>
                            <span class="pl-2">
                                Speciality: Assault
                            </span>
                        </div> -->
            </div>
            <button class="button-purple" mat-raised-button (click)="openModal(selectCases,user.userId)">
                Hire
            </button>
        </mat-card>
    </mat-card>
</div>


<ng-template #selectCases>
    <div>
        <h2 class="text-center font-weight-bold">Select Cases.</h2>
    </div>
    <div>
        <div class="row">
            <div class="col-12">
                <ul class="pl-3">
                    <div *ngFor="let case of caseList">
                        <mat-checkbox color="primary" (change)="onSelectCaseIds($event.checked,case?.caseId)">
                            {{case?.briefDescriptionOfChargeOrLegalMatter}}
                        </mat-checkbox>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <button class="button-purple px-4 py-1" mat-raised-button (click)="onSubmitCaseIds()">
            Submit
        </button>
        <button mat-raised-button class="button-purple px-4 py-1" (click)="closeModal()">
            Close
        </button>
    </div>
</ng-template>