.white-btn {
  background: #e4e4ec;
  color: #333442;
}

.padding-btn {
  padding-left: 10%;
  padding-right: 10%;
}

.btn-outline {
  outline: 4px auto -webkit-focus-ring-color;
}

.outer-card {
  border: 1px solid #333442;
  color: #333442;
  background: #e4e4ec;
}

.inner-card {
  border: 1px solid #333442;
  color: #333442;
  background: white;
}

.logo {
  width: 225px;
  height: 135px;
}

.banner-style {
  background: #333442;
}

.title-style {
  font-size: 17px;
  color: #aba6a6;
  line-height: 24px;
}

.padd_mat{
  padding-left: 15px !important;
  padding-right: 15px !important;
}