<div class="row d-flex justify-content-end pr-3">

</div>

<div class="pt-2">
    <mat-card class="border border-dark padd_mat py-0">
        <div class="row banner-style">
            <div class="col-4">
                <div class="d-flex justify-content-center" style="height: 200px;
                width: 250px;">
                    <img src="../../../../../assets/img/logo.png" alt="logo" class="logo" *ngIf="!logo?.downloadLink">
                    <img src="{{logo?.downloadLink}}" alt="logo" class="logo" *ngIf="logo?.downloadLink">
                </div>
            </div>
            <div class="col-7 d-flex align-items-center">
                <span class="title-style">
                    {{orgDetails?.Organization?.tagline}}
                </span>
            </div>
            <div class="col-1 mt-3">
                <button [routerLink]="'/mjp/user/hire-lawyer'"
                    class="white-btn padding-btn btn-outline float-right py-1" mat-raised-button>
                    Back
                </button>
            </div>

        </div>
        <div class="row p-4">
            <div class="col-4">
                <h3 class="font-weight-bold">Organization Information:</h3>
                <span class="font-weight-bold">Organization:
                    <span class="font-weight-light text-dark">{{orgDetails?.Organization?.name}}
                        {{orgDetails?.Organization?.orgCode}}</span>
                    <span class="font-weight-light text-dark"> {{orgDetails?.Organization?.tagline}}
                    </span>
                </span><br><br>
                <span class="font-weight-bold">Primary Address:
                    <span class="font-weight-light text-dark"> {{orgDetails?.Organization?.Address?.street1}}
                        {{orgDetails?.Address?.street2}}</span>
                    <span class="font-weight-light text-dark"> {{orgDetails?.Organization?.Address?.city}}
                        {{orgDetails?.Organization?.Address?.zip}}</span>
                </span>
                <br>
                <span class="font-weight-bold">Practise Areas: </span>
                <br>
                <ul class="m-0" [hidden]="specialtyList?.length < 0 " *ngFor="let spec of specialtyList">
                    <li class="text-dark">{{spec}}</li>
                </ul>
                <!-- <div class="p-3">
                    <button class="button-purple padding-btn btn-outline py-1" mat-raised-button>
                        Contact
                    </button>
                </div> -->
            </div>
            <div class="col-8">
                <h3 class="font-weight-bold">Organization Statement:</h3>
                <span class="text-dark">{{orgDetails?.Organization.description}}</span>
            </div>
        </div>
    </mat-card>
    <!-- <mat-card class="outer-card mt-3">
        <mat-label class="font-weight-bold">
            Filtered Results:
        </mat-label>
        <div *ngIf="!orgDetails?.users?.length">
            <mat-label class="font-weight-bold text-danger">
                No data found.
            </mat-label>
        </div>
        <mat-card *ngFor="let user of orgDetails?.users" class="inner-card">
            <div class="row">
                <div class="col-8">
                    <div>
                        <mat-label class="font-weight-bold">
                            {{user?.firstName}} {{user?.middleName}} {{user?.lastName}}
                        </mat-label>
                    </div>
                </div>
                <div class="col-4">
                    <div 
                    class="d-flex justify-content-end align-items-end  mt-2">
                    <div class="pr-3">
                        <button  class="button-purple pr-2" mat-raised-button (click)="OnViewProfile(user.userId)">
                            View Profile
                         </button>
                    </div>
                    <div>
                        <button class="button-purple " mat-raised-button [disabled]="isHired"
                        (click)="onContactLawyer(user.userId)">
                        {{isHired?'Request Pending':'Contact'}}
                    </button>
                    </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </mat-card> -->
</div>


<!-- <div *ngIf="contactPage">
   <mat-card>
        <div class=" pl-3">
            <h2 class="font-weight-bold">Select Cases.</h2>
        </div>
        <div class="row pl-3">
            <div [ngClass]="{'col-6' : caseList?.length > 12 ,'col-12' : caseList?.length <= 12}">
                <div *ngFor="let case of caseList?.slice(0,11)">
                    <mat-checkbox color="primary" (change)="onSelectCaseIds($event.checked,case?.caseId)">
                        {{case?.legalMatter}}
                    </mat-checkbox>
                </div>
            </div>
            <div class="col-6" *ngIf="caseList?.length > 12">
                <div *ngFor="let case of caseList?.slice(11,caseList?.length)">
                    <mat-checkbox color="primary" (change)="onSelectCaseIds($event.checked,case?.caseId)">
                        {{case?.briefDescriptionOfChargeOrLegalMatter}}
                    </mat-checkbox>
                </div>
            </div>
            <div class="col-12 p-0">
                <mat-form-field appearance="fill" class="w-100 p-2">
                    <textarea rows="5" matInput [formControl]="viewCaseForm.controls['notes']"
                        placeholder="Write something here" required></textarea>
                    <mat-error>
                        <div *ngIf="viewCaseForm.controls['notes'].invalid && viewCaseForm.controls['notes'].touched">
                            <small class="font13">
                                Notes is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-between px-3">
            <button mat-raised-button class="button-purple px-4 py-1" (click)="closeModal()">
                Close
            </button>
            <button class="button-purple px-4 py-1" mat-raised-button (click)="onSubmitCaseIds()">
                Submit
            </button>
        </div>
   </mat-card>
</div> -->