<div class="col-12 pl-0">
    <mat-card>
        <div>
            <h1 class="line-height font-weight-bold">Inquiries</h1>
            <h4 class="line-height header-sub-text">
                See new inquiries and approve new clients.
            </h4>
        </div>
        <div class="row">
            <div class="col-5">
                <mat-form-field class="w-100">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="search($event.target.value)">
                </mat-form-field>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let case">
                    {{case?.inmate?.firstName}} {{case?.inmate?.middleName}} {{case?.inmate?.lastName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="caseDescription">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Case Description</th>
                <td mat-cell *matCellDef="let case">
                    <span>{{case?.briefDescriptionOfChargeOrLegalMatter}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="sent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sent</th>
                <td mat-cell *matCellDef="let case">
                    {{case?.sentAt | date:'MM/dd/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let case">{{case?.status}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let case">
                    <button class="mr-1" class="btn btn-sm btn-primary " color=" green" title="Approve"
                        [disabled]="( case.status === 'Rejected' || case.status === 'inmate_rejected')"
                        (click)="onStatusUpdate(case?.caseId, status='Approved')">
                        ACCEPT
                    </button>
                    <button color="warn" title="Reject" class="btn btn-sm btn-warning"
                        [disabled]="(case.status === 'Rejected' || case.status === 'inmate_rejected')"
                        (click)="onStatusUpdate(case?.caseId, status='Rejected')">
                        REJECT
                    </button>
                    <button color="black" [disabled]="(case.status === 'Rejected' || case.status === inmate_rejected)"
                        class="btn btn-sm btn-dark" title="More Queries" (click)="onOpenModal(confirmModal,case)">
                        MESSAGE
                    </button>
                    <button color="black" [routerLink]="case.caseId" class="btn btn-sm btn-danger" title="View Case">
                        View
                    </button>
                    <ng-template #confirmModal>
                        <div>
                            <h2 class="text-center font-weight-bold">Are You sure you want to enable the chat!</h2>
                        </div>
                        <div class="d-flex justify-content-between mt-5">
                            <button class="button-purple px-4 py-1" mat-raised-button (click)="closeModal()">
                                No
                            </button>
                            <button mat-raised-button class="button-purple px-4 py-1"
                                (click)="onStatusUpdate(case?.caseId, status='chatEnabled'); onChatEnable()">
                                Yes
                            </button>
                        </div>
                    </ng-template>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="getPageSizeOptions()"></mat-paginator>
    </mat-card>

</div>