<div class="col-12 pl-0">
    <mat-card>
        <div>
            <h1 class="line-height font-weight-bold">Inquiries</h1>
            <h4 class="line-height header-sub-text">
                See new inquiries and approve new clients
            </h4>
        </div>
        <div class="row">
            <div class="col-5">
                <mat-form-field class="w-100">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="search($event.target.value)">
                </mat-form-field>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
                <td mat-cell *matCellDef="let user">
                    <span>
                        {{user?.inmate?.firstName | titlecase}}
                        &nbsp;{{user?.inmate?.lastName | titlecase}}
                    </span>
                    <span *ngIf="!user?.inmate?.firstName  && !user?.inmate.lastName">
                        N/A
                    </span>
                </td>
            </ng-container>
            <ng-container matColumnDef="briefDescriptionOfChargeOrLegalMatter">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Case Description</th>
                <td mat-cell *matCellDef="let user" class="table-action-style" id="textalign">
                    <span>{{user?.briefDescriptionOfChargeOrLegalMatter}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="sentAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sent</th>
                <td mat-cell *matCellDef="let user">
                    {{user?.sent}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let user">{{user?.status}}
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="table-action-style">Action</th>
                <td mat-cell *matCellDef="let user">
                    <div class="d-flex justify-content-center">
                        <button *ngIf="!user.status === 'Lawyer Approved' || user.status === 'Inmate Rejected' || user.status === 'Lawyer Requested'" class="mr-1" class="btn btn-sm btn-primary " color=" green" title="Approve" [disabled]="( user.status === 'Inmate Rejected' || allApprovedData.length > approvedStatus)"
                            (click)="onStatusUpdate(user?.caseId, status='Lawyer Approved')">
                            ACCEPT
                        </button>
                        <button *ngIf="user.status === 'Lawyer Rejected'" class="mr-1" class="btn btn-sm btn-primary " color=" green" title="Approve" [disabled]="( user.status === 'Rejected' || user.status === 'inmate_rejected' 
                        || allApprovedData.length > approvedStatus)" (click)="onStatusUpdate(user?.caseId, status='Lawyer Approved')">
                            ACCEPT AGAIN
                        </button>
                        <button *ngIf="(!user.status === 'Lawyer Rejected'  || user.status === 'Lawyer Approved' || user.status === 'Inmate Rejected'|| user.status === 'Lawyer Requested')" color="warn" title="Reject" class="btn btn-sm btn-warning" [disabled]="(user.status === 'Rejected' || user.status === 'inmate_rejected' || user.status === 'Inmate Rejected')"
                            (click)="onStatusUpdate(user?.caseId, status='Lawyer Rejected')">
                            REJECT
                        </button>
                        <button *ngIf="(user.status === 'Connected')" color="black" class="btn btn-sm btn-danger" title="More Queries" (click)="onStatusUpdate(user?.caseId, status='Disconnected')">
                        Disconnect
                       </button>
                        <button *ngIf="(!user.status === 'Lawyer Rejected' || user.status === 'Connected' || user.status === 'Lawyer Approved'|| user.status === 'Lawyer Requested')" color="black" [disabled]="(user.status === 'Rejected' || user.status === inmate_rejected)" class="btn btn-sm btn-dark"
                            title="More Queries" (click)="onOpenModal(confirmModal,user.inmate.userId)">
                            MESSAGE
                        </button>
                        <button [disabled]="user.status === 'Inmate Rejected'" color="black" [routerLink]="user.caseId" class="btn btn-sm btn-danger" title="View Case">
                            View
                        </button>
                    </div>
                    <ng-template #confirmModal>
                        <div>
                            <h2 class="text-center font-weight-bold">Are You sure you want to enable the chat!</h2>
                        </div>
                        <div class="d-flex justify-content-between py-2">
                            <button class="button-purple px-4 py-1" mat-raised-button (click)="closeModal()">
                                No
                            </button>
                            <button mat-raised-button class="button-purple px-4 py-1" (click)="onStatusUpdate(user?.caseId, status='chatEnabled'); onChatEnable()">
                                Yes
                            </button>
                        </div>
                    </ng-template>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="getPageSizeOptions()"></mat-paginator>
    </mat-card>

</div>