<div class="col-12 d-flex justify-content-between pl-0">
    <div>
        <h1 class="line-height font-weight-bold">All Facilities</h1>
        <h4 class="line-height header-sub-text">You can see all the Facilities.</h4>
    </div>
</div>
<div>
    <mat-card class="w-100">
        <div class="row">
            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="search($event.target.value)">
                </mat-form-field>
            </div>
            <div class="col-4 offset-4">
                <div class="d-flex justify-content-end">
                    <button class="button-purple px-5 py-1" mat-raised-button
                        (click)="openModal(AddFacilityModel,true)">
                        Create Facility
                    </button>
                </div>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="facilityCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Facility Code</th>
                <td mat-cell *matCellDef="let facility">
                    {{facility?.facilityCode}}
                </td>
            </ng-container>
            <ng-container matColumnDef="facilityName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Facility Name</th>
                <td mat-cell *matCellDef="let facility">{{facility?.facilityName}}</td>
            </ng-container>
            <ng-container matColumnDef="ipAddress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>IP Address</th>
                <td mat-cell *matCellDef="let facility">{{facility?.ipAddress}}</td>
            </ng-container>
            <ng-container matColumnDef="libraryLink">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Library Link</th>
                <td mat-cell *matCellDef="let facility">{{facility?.libraryLink}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let facility">
                    <button (click)="facilityView(facility);openModal(AddFacilityModel, false)" class="mr-1"
                        mat-mini-fab color="primary" title="View Facility Details">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" title="Delete Facility" (click)="onDeletefacility(facility)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>
    </mat-card>
</div>

<ng-template #AddFacilityModel>
    <div class="d-flex justify-content-start">
        <h3 class="font-weight-bold pl-2">Enter Facility Details</h3>
    </div>
    <div>
        <div class="row" style="margin-right: -8px;">
            <div class="row">
                <div class="col-6 mb-1">
                    <mat-form-field appearance="fill" class="w-100 pl-2">
                        <mat-label>Facility Code</mat-label>
                        <input type="text" matInput placeholder="Facility Code"
                            [formControl]="facilityForm.controls['facilityCode']" maxlength='5' minlength="5"
                            onkeypress='return (event.charCode > 96 && event.charCode < 123) || (event.charCode > 64 && event.charCode < 91) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode <= 31'
                            required>
                        <mat-error>
                            <div
                                *ngIf="facilityForm.controls['facilityCode'].invalid &&
                                (facilityForm.controls['facilityCode'].touched && facilityForm.controls['facilityCode'].hasError('taken'))">
                                <small class="font13">Facility Code already taken.</small>
                            </div>
                            <div *ngIf="facilityForm.controls['facilityCode'].invalid && facilityForm.controls['facilityCode'].touched
                                && facilityForm.controls['facilityCode'].errors?.required">
                                <small class="font13">
                                    Facility Code is Required
                                </small>
                            </div>
                            <div *ngIf="facilityForm.controls['facilityCode'].errors?.minlength">
                                <small class="font13">
                                    Facility Code Must be 5 Characters.
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 mb-1 pr-3">
                    <mat-form-field appearance="fill" class="w-100 pl-2">
                        <mat-label>Facility Name</mat-label>
                        <input type="text" matInput placeholder="Facility Name"
                            [formControl]="facilityForm.controls['facilityName']" required>
                        <mat-error>
                            <div
                                *ngIf="facilityForm.controls['facilityName'].invalid && facilityForm.controls['facilityName'].touched">
                                <small class="font13" *ngIf="facilityForm.controls['facilityName'].errors?.required">
                                    Facility Name is Required
                                </small>
                                <small class="font13" *ngIf="facilityForm.controls['facilityName'].errors?.minlength">
                                    Facility Name minumum 1 letter is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 mb-1 pr-3">
                    <mat-form-field appearance="fill" class="w-100 pl-2">
                        <mat-label>IP Address</mat-label>
                        <input type="text" matInput placeholder="IP Address"
                            [formControl]="facilityForm.controls['ipAddress']" required>
                        <mat-error>
                            <div
                                *ngIf="facilityForm.controls['ipAddress'].invalid && facilityForm.controls['ipAddress'].touched">
                                <small class="font13" *ngIf="facilityForm.controls['ipAddress'].errors?.required">
                                    IP Address is Required
                                </small>
                                <span class="font13" *ngIf="facilityForm.controls['ipAddress'].errors?.pattern">
                                    Invalid IP Address format
                                </span>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- address colms -->
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="fill" class="w-100 pl-2">
                        <mat-label>Street 1</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['street1']" required>
                        <mat-error>
                            <div
                                *ngIf="addressForm.controls['street1'].invalid && addressForm.controls['street1'].touched">
                                <small class="font13">
                                    Street 1 address is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="fill" class="w-100 pl-2">
                        <mat-label>Street 2</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['street2']">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100 pl-2">
                        <mat-label>City</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['city']" required>
                        <mat-error>
                            <div *ngIf="addressForm.controls['city'].invalid && addressForm.controls['city'].touched">
                                <small class="font13">
                                    City is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100 pl-2">
                        <mat-label>State</mat-label>
                        <mat-select [formControl]="addressForm.controls['state']" required>
                            <mat-option>Select state</mat-option>
                            <mat-option *ngFor="let state of states" value="{{state.name}}">
                                {{state.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-form-field appearance="fill" class="w-100 pl-2">
                        <mat-label>State</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['state']" required>
                        <mat-error>
                            <div *ngIf="addressForm.controls['state'].invalid && addressForm.controls['state'].touched">
                                <small class="font13">
                                    State is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field> -->
                </div>
            </div>
            <div class="row">
                <div class="col-6 pr-3">
                    <mat-form-field appearance="fill" class="w-100 pl-2">
                        <mat-label>Country</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['country']" required>
                        <mat-error>
                            <div
                                *ngIf="addressForm.controls['country'].invalid && addressForm.controls['country'].touched">
                                <small class="font13">
                                    Country name is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100 pl-2">
                        <mat-label>Zip Code</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['zip']" required>
                        <mat-error>
                            <div *ngIf="addressForm.controls['zip'].invalid && addressForm.controls['zip'].touched">
                                <small class="font13">
                                    Zip Code is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 p-0">
                <mat-form-field appearance="fill" class="w-100 px-2">
                    <mat-label>DIY Law Library Link</mat-label>
                    <input type="text" matInput [formControl]="facilityForm.controls['libraryLink']">
                    <!-- <mat-error>
                        <div
                            *ngIf="facilityForm.controls['libraryLink'].invalid && facilityForm.controls['libraryLink'].touched">
                            <small class="font13" *ngIf="facilityForm.controls['libraryLink'].errors?.required">
                                DIY Law Library Link is Required
                            </small>
                            <span class="font13" *ngIf="facilityForm.controls['libraryLink'].errors?.pattern">
                                Invalid DIY Law Library Link.
                            </span>
                        </div>
                    </mat-error> -->
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end p-0" *ngIf="addHide">
        <button mat-raised-button class="button-purple mt-2 px-4 py-1"
            [disabled]="facilityForm.invalid || addressForm.invalid" (click)="AddFacility()">
            Add Facility
        </button>
    </div>

    <div class="d-flex justify-content-end p-0" *ngIf="!addHide">
        <button *ngIf="buttonText === 'Edit'" mat-raised-button class="button-purple mt-2 px-4 py-1"
            [disabled]="facilityForm.invalid || addressForm.invalid"
            (click)="this.facilityForm.enable();addressForm.enable(); buttonText = 'Save'">
            {{buttonText}}
        </button>
        <button *ngIf="buttonText === 'Save'" mat-raised-button color="primary" class="px-4 py-1 mt-2"
            [disabled]="(facilityForm.controls['facilityCode'].dirty && facilityForm.controls['facilityCode'].hasError('taken')) ||
             facilityForm.controls['libraryLink'].invalid || facilityForm.controls['facilityName'].invalid || addressForm.controls['street1'].invalid || addressForm.controls['city'].invalid 
             || addressForm.controls['state'].invalid || addressForm.controls['zip'].invalid || addressForm.controls['country'].invalid" (click)="onSaveChanges(facility)">
            {{buttonText}}
        </button>
    </div>
</ng-template>