<div class="bg-color">
    <div class="d-flex justify-content-center align-items-center">
        <div class="my-5">
            <div class="d-flex justify-content-center">
                <img src="assets/img/logo.png" alt="logo" class="logo">
            </div>
            <h3 class="text-center font-weight-bold">Step 2/2</h3>
            <mat-card class="p-4">
                <h1 class="font-weight-bold text-center">Account Verification</h1>
                <p class="text-center m-0 px-3">
                    To ensure account security, we require that you verify a mobile phone via text message.</p>
                <p class="text-center mb-3 px-3">Enter your mobile number below and we will send you a code to verify.
                </p>

                <div class="row pl-5 d-flex justify-content-center">
                    <div class="pt-3">
                        <mat-label>+</mat-label>
                    </div>
                    <div class="col-3 px-0">
                        <mat-form-field appearance="fill" class="w-100 hpx px-1">
                            <mat-label>Country Code</mat-label>
                            <input type="text" matInput placeholder="Country Code"
                                [formControl]="mobileRegistrationForm.controls['countryCode']" required>
                            <mat-error>
                                <div
                                    *ngIf="mobileRegistrationForm.controls['countryCode'].invalid && mobileRegistrationForm.controls['countryCode'].touched">
                                    <small class="font13">
                                        Country Code is Required
                                    </small>
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-5 pl-0">
                        <mat-form-field appearance="fill" class="w-100 hpx px-0">
                            <mat-label>Mobile</mat-label>
                            <input type="text" matInput placeholder="Mobile Number"
                                [formControl]="mobileRegistrationForm.controls['mobile']" required>
                            <mat-error>
                                <div
                                    *ngIf="mobileRegistrationForm.controls['mobile'].invalid && mobileRegistrationForm.controls['mobile'].touched">
                                    <small class="font13">
                                        Mobile is Required
                                    </small>
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <p class="font-weight-bold text-center pt-4">If you are in the United States, leave 1 as your Country
                    Code.
                </p>
                <div *ngIf="OtpField" class="row">
                    <div class="col-9 pr-0">
                        <mat-form-field appearance="fill" class="w-100 p-2">
                            <mat-label>Enter Otp</mat-label>
                            <input type="number" matInput placeholder="Enter Otp"
                                [formControl]="mobileRegistrationForm.controls['otp']" required>
                            <mat-error>
                                <div
                                    *ngIf="mobileRegistrationForm.controls['otp'].invalid && mobileRegistrationForm.controls['otp'].touched">
                                    <small class="font13">
                                        Otp is Required
                                    </small>
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-3 pl-0">
                        <button [disabled]="mobileRegistrationForm.get('otp').invalid" mat-raised-button color="primary"
                            class="mt-2 px-5 py-1" (click)="onVerifySms()">Submit</button>
                    </div>
                </div>
                <div class="d-flex justify-content-end pr-5" style="margin-right: 31px;">
                    <button *ngIf="!OtpField"
                        [disabled]="mobileRegistrationForm.get('countryCode').invalid || mobileRegistrationForm.get('mobile').invalid"
                        mat-raised-button color="primary" class="mt-2 px-5 py-2" (click)="onGetOtp()">Get Auth
                        Code</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>