.logo {
  width: 225px;
}

.wpx-420 {
  width: 420px;
}

.w-25 {
  width: 25%;
}

.bg-color {
  background-color: #fffbfb !important;
}

.mat-border {
  border: 1px solid #040b27;
  border-radius: 5px;
}

.hpx {
  height: 53px;
}
