.outer-card {
    border: 1px solid #333442;
    color: #333442;
    background: #e4e4ec;
}

.inner-card {
    border: 1px solid #333442;
    color: #333442;
    background: white;
}

.check-style {
    font-size: 15px;
    font-weight: 500;
}

::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

.outer-card {
    border: 1px solid #333442;
    color: #333442;
    background: #e4e4ec;
}

.btn-background {
    background: #e4e4ec;
    border: 1px solid black;
}

.drag-border {
    border: 1px dashed black;
    border-radius: 5px;
}

.enquiry-notes {
    background: #ededed;
    border: 1px solid #000;
}

.button-width{
    width: 30%;
}

.cards-width{
    width: 70%;
}