<div>
    <mat-card class="w-100">
        <div class="row">
            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="search($event.target.value)">
                </mat-form-field>
            </div>
            <div class="col-4 offset-4">
                <div class="d-flex justify-content-end">
                    <button class="background-color px-5 py-1" mat-raised-button color="primary"
                        (click)="openModal(AddFacilityModel, true)">Create Facility</button>
                </div>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="facilityCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Facility Code</th>
                <td mat-cell *matCellDef="let facility">
                    {{facility.facilityCode}}
                </td>
            </ng-container>
            <ng-container matColumnDef="facilityName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Facility Name</th>
                <td mat-cell *matCellDef="let facility">{{facility.facilityName}}</td>
            </ng-container>

            <ng-container matColumnDef="libraryLinks">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Library Link</th>
                <td mat-cell *matCellDef="let facility">{{facility.libraryLink}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let facility">
                    <button (click)="facilityView(facility);openModal(AddFacilityModel, false)" class="mr-1"
                        mat-mini-fab color="primary" title="View Facility Details">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" title="Delete Facility" (click)="onDeletefacility(facility)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </mat-card>
</div>


<ng-template #AddFacilityModel>
    <div class="d-flex justify-content-start p-0">
        <h3 class="font-weight-bold pl-2">Create Facility</h3>
    </div>
    <div>
        <div class="row">
            <div class="col-12 mb-1">
                <mat-form-field appearance="fill" class="w-100 pl-2">
                    <mat-label>Facility Code</mat-label>
                    <input type="text" matInput placeholder="Facility Code"
                        [formControl]="facilityForm.controls['facilityCode']" maxlength='6' minlength="6"
                        onkeypress='return (event.charCode > 96 && event.charCode < 123) || (event.charCode > 64 && event.charCode < 91) || (event.charCode >= 48 && event.charCode <= 57) || event.charCode <= 31'
                        required>
                    <mat-error>
                        <div
                            *ngIf="facilityForm.get('facilityCode').invalid && facilityForm.get('facilityCode').touched">
                            <small class="font13">
                                Facility Code is Required
                            </small>
                        </div>

                        <div *ngIf="facilityForm.get('facilityCode').errors?.minlength">
                            <small class="font13">
                                Facility Code Must be 6 Characters
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 mb-1">
                <mat-form-field appearance="fill" class="w-100 pl-2">
                    <mat-label>Facility Name</mat-label>
                    <input type="text" matInput placeholder="Facility Name"
                        [formControl]="facilityForm.controls['facilityName']" required>
                    <mat-error>
                        <div
                            *ngIf="facilityForm.controls['facilityName'].invalid && facilityForm.controls['facilityName'].touched">
                            <small class="font13">
                                Facility Name is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-12">
                <mat-form-field appearance="fill" class="w-100 pl-2">
                    <mat-label>Library Link</mat-label>
                    <input type="text" matInput placeholder="Library Link"
                        [formControl]="facilityForm.controls['libraryLink']" required>
                    <mat-error>
                        <div
                            *ngIf="facilityForm.controls['libraryLink'].invalid && facilityForm.controls['libraryLink'].touched">
                            <small class="font13">
                                Library Link is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end p-0" *ngIf="addHide">
        <button [disabled]="facilityForm.invalid" mat-raised-button color="primary" type="button" class="mt-2 px-4 py-1"
            (click)="AddFacility()">Add Facility</button>
    </div>

    <div class="d-flex justify-content-end p-0" *ngIf="!addHide">
        <button *ngIf="buttonText === 'Edit'" [disabled]="facilityForm.invalid" mat-raised-button color="primary"
            type="button" class="mt-2 px-4 py-1"
            (click)="this.facilityForm.enable();buttonText = 'Save'">{{buttonText}}</button>
        <button *ngIf="buttonText === 'Save'" [disabled]="facilityForm.invalid" mat-raised-button color="primary"
            type="button" class="px-4 py-1 mt-2" (click)="onSaveChanges(facility)">{{buttonText}}</button>
    </div>
</ng-template>