<div class="d-flex justify-content-between">
    <div>
        <h1 class="font-weight-bold">
            Case: {{caseDetails?.legalMatter}}
        </h1>
        <h4 class="line-height">Your case details and tools.</h4>
    </div>
    <div>
        <button class="white-btn py-1 padding-btn" mat-raised-button (click)="backToCases()">
            Back To My Cases
        </button>
    </div>
</div>

<!-- <div class="d-flex justify-content-start py-2">
    <div>
        <button class="button-purple  btn-group mt-1 py-1 btn-group" mat-raised-button>
            Legal Research Assistant
        </button>
    </div>
    <div class="pl-4">
        <button class="button-purple btn-group mt-1 py-1  btn-group" mat-raised-button (click)="hireLayer()">
            Find a Lawyer
        </button>
    </div>
</div> -->
<div class="row">
    <div class="col-12">
        <div class="col-12 p-0">
            <mat-card class="mat-elevation-z10 view-card-color w-100 pt-4">
                <div class="d-flex justify-content-between pb-2">
                    <div>
                        <h3 class="line-height font-weight-bold m-0 pt-3">
                            Case Information
                        </h3>
                    </div>
                    <div>
                        <button class="white-btn px py-1 mr-2" mat-raised-button [routerLink]="'edit'">
                            Edit Case
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div>
                            <p class="text-default">Name:
                                <span class="font-weight-normal"> {{caseDetails?.inmate?.firstName}}
                                    {{caseDetails?.inmate?.lastName}}</span>
                            </p>
                        </div>
                        <div>
                            <p class="text-default">Charges or Legal Matter:
                                <span class="font-weight-normal">{{caseDetails?.legalMatter}}</span>
                            </p>
                        </div>
                        <div *ngIf="caseDetails?.countyOfArrest">
                            <p class="text-default">County of Arrest:
                                <span class="font-weight-normal"> {{caseDetails?.countyOfArrest}}</span>
                            </p>
                        </div>
                        <div *ngIf="caseDetails?.stateOfArrest">
                            <p class="text-default">State of Arrest:
                                <span class="font-weight-normal"> {{caseDetails?.stateOfArrest}}</span>
                            </p>
                        </div>
                        <div>
                            <p class="text-default" *ngIf="caseDetails?.briefDescriptionOfChargeOrLegalMatter">
                                Brief Description:
                                <span class="font-weight-normal">
                                    {{caseDetails?.briefDescriptionOfChargeOrLegalMatter}}</span>
                            </p>
                        </div>
                        <div *ngIf="caseDetails?.attorneyName">
                            <p class="text-default">Attorney Name:
                                <span class="font-weight-normal"> {{caseDetails?.attorneyName}}</span>
                            </p>
                        </div>
                        <div>
                            <p class="text-default" *ngIf="caseDetails?.dateOfArrest">
                                Date of Arrest:
                                <span class="font-weight-normal">
                                    {{caseDetails?.dateOfArrest |date: 'MM-dd-yyyy'}}</span>
                            </p>
                        </div>
                        <div>
                            <p class="text-default" *ngIf="caseDetails?.nextCourtDate">
                                Next Court Date:
                                <span class="font-weight-normal">
                                    {{caseDetails?.nextCourtDate |date: 'MM-dd-yyyy'}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center">
                        <mat-card class="border">
                            <div *ngIf="!assignedLawyer" class=" px-2 py-4">
                                <h4 class="text-center font-weight-bold">No Connected Lawyer</h4>
                                <p class="text-justify">Please click find a lawyer to search for lawyers.</p>
                            </div>
                            <div *ngIf="assignedLawyer">
                                <div class="row">
                                    <div class="col-4">
                                        <div *ngIf="assignedLawyer?.userAdditionalInfo?.profile?.downloadLink">
                                            <img src="{{assignedLawyer?.userAdditionalInfo?.profile?.downloadLink}}"
                                                width="150px" height="150px" alt="logo" class="logo">
                                        </div>
                                        <div *ngIf="!assignedLawyer?.userAdditionalInfo?.profile?.downloadLink">
                                            <img src="assets/img/placeholder.jpg" width="230px" height="100px"
                                                alt="logo">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <h3 class="text-center font-weight-bold">Your Connected Lawyer</h3>
                                        <div>
                                            <p class="text-default">Name:
                                                <span class="font-weight-normal"> {{assignedLawyer?.firstName}}
                                                    {{assignedLawyer?.lastName}}</span>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="text-default">Organization:
                                                <span
                                                    class="font-weight-normal">{{assignedLawyer?.Organization?.name}}</span>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="text-default">Tagline:
                                                <span
                                                    class="font-weight-normal">{{assignedLawyer?.userAdditionalInfo?.tagline}}</span>
                                            </p>
                                        </div>
                                        <div>
                                            <p class="text-default">Practice area:
                                                <span
                                                    class="font-weight-normal">{{assignedLawyer?.userAdditionalInfo?.practiceAreas}}</span>
                                            </p>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn bg-color px-perc py-1" mat-raised-button
                                                (click)="removeAlert(lawyerRemoveConforation)">Disconnect
                                            </button>
                                            <ng-template #lawyerRemoveConforation>
                                                <h3 class="text-center">Are you Sure, You want to remove the lawyer</h3>
                                                <div class="d-flex justify-content-between">
                                                    <button class="btn bg-color px-perc py-1" mat-raised-button
                                                        (click)="onCancelNotesModal()">No
                                                    </button>
                                                    <button class="button-purple px-perc py-1" mat-raised-button
                                                        (click)="removeLawyer(assignedLawyer.userId)">Yes
                                                    </button>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-12 p-0 mt-3">
            <mat-card class="d-flex justify-content-between mat-elevation-z10 view-card-color">
                <div *ngIf="isFacility">
                    <div>
                        <h3 class="font-weight-bold mb-2">My Private Case Notes:</h3>
                        <div class="notes">
                            <span>{{caseDetails?.notes}}</span>
                            <span *ngIf="!caseDetails?.notes" class="text-danger">
                                No Notes have been added. Click the edit button to add a note.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="pl-2" *ngIf="isFacility">
                    <button class="button-purple" mat-mini-fab title="Add/Edit Note"
                        (click)="openModal(managenotesModel)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div *ngIf="!isFacility">
                    <h3 class="font-weight-bold mb-2">My Private Case Notes:</h3>
                    <span>Private notes are only available when you are within a Facility.</span>
                </div>
            </mat-card>
        </div>

        <div class="col-12 p-0 mt-3">
            <mat-card class="mat-elevation-z10 view-card-color px-2">
                <app-view-case-files></app-view-case-files>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #managenotesModel>
    <div class="d-flex justify-content-start p-0">
        <h3 class="font-weight-bold pl-2">My Private Case Notes:</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field appearance="fill" class="w-100 p-2">
                <textarea rows="10" matInput [formControl]="caseNoteForm.controls['notes']"></textarea>
                <mat-error>
                    <div *ngIf="caseNoteForm.controls['notes'].invalid && caseNoteForm.controls['notes'].touched">
                        <small class="font13">
                            Notes is Required
                        </small>
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="d-flex justify-content-between p-1">
        <button mat-raised-button class="button-purple mt-2 px-4 py-1" (click)="onCancelNotesModal()">
            Cancel
        </button>
        <button mat-raised-button color="primary" class="px-4 py-1 mt-2" [disabled]="caseNoteForm.get('notes').invalid"
            (click)="onSaveChanges()">
            Save
        </button>
    </div>
</ng-template>