<div *ngIf="!isAuthorized || billingBoard">
    <h1 class="font-weight-bold m-0">Setup Your Account</h1>
</div>

<div *ngIf="!isAuthorized">
    <div class="d-flex justify-content-center align-items-center;">
        <div class="col-12 pt-2 pl-0">
            <mat-card class="mat-elevation-z10 d-flex justify-content-center">
                <h2>
                    Account Status: <span class="panding-review">Pending Review</span>
                </h2>
            </mat-card>
        </div>
    </div>
</div>

<div *ngIf="showDashboard && isAuthorized">
    <h1 class="mb-0"><b>Dashboard</b></h1>
    <h4>A summary of recent activity with your Cases and Connections.</h4>
</div>

<div *ngIf="billingBoard">
    <div *ngIf="billingBoard && isAuthorized">
        <div class="d-flex justify-content-center align-items-center;">
            <div class="col-12 pt-2 px-0">
                <mat-card class="mat-elevation-z10 d-flex justify-content-center">
                    <h2>Account Status: <span class="approved-card">Approved</span></h2>
                </mat-card>
            </div>
        </div>
    </div>
    <div *ngIf="userData?.roles[0]?.roleId == 5">
        <app-public-defender-billing (paymentConfirm)="onPayEvent($event)"></app-public-defender-billing>
    </div>
</div>