.unauthorized-text {
    line-height: 26px;
    letter-spacing: 1px;
}

.outer-card {
    border: 1px solid #333442;
    color: #333442;
    background: #e4e4ec;
}

.inner-card {
    border: 1px solid #333442;
    color: #333442;
    background: white;
}

.border-card {
    background: #ededed;
    border: 1px solid #000;
}

.unauthorized-text {
    line-height: 26px;
    letter-spacing: 1px;
}

.card-scroll {
    height: 446px;
    overflow-y: scroll;
}

.circle {
    border-color: #ff6700 !important;
    width: 20px;
    height: 20px;
    top: 6px !important;
    position: relative;
    border: 2px;
}

.panding-review {
    color: #ff6700 !important;
}

.card-footer-style {
    position: relative;
    top: 8px;
}

.approved-card {
    color: green;
}

#circle {
    width: 234px;
    height: 225px;
    -webkit-border-radius: 110px;
    -moz-border-radius: 110px;
    border-radius: 110px;
    background: #ededed;
    text-align: center;
    font: 32px Arial, sans-serif;
}

.matheading {
    font-size: 25px;
    text-align: center;
}

.dashboard-card {
    background-color: gray;
}

.modal-text {
    font-weight: bold !important;
}
.fonts{
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif !important;
   
   
  }
  #btn-blue{
    background-color: #3c78d8ff;
  }
  
  .one{
    margin-right: 81px;
  }
  .third{
    margin-left:31px
  }
    
  .link{
    color: #007bff;
    
  }
  .approv{
    margin-left:31px;
    }
    
  .mat-checkbox-inner-container {
    display: inline-block;
    height: 16px;
    line-height: 0;
    margin: revert!important;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 16px;
    flex-shrink: 0;
  }
  ::ng-deep .mat-checkbox-disabled .mat-checkbox-label {
    color: black;
  }

  ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    line-height: 19px!important;
  }

  ::ng-deep .mat-checkbox-inner-container{
    background-color: white !important;
  }
  
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #bbbbbb !important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #ff6700 !important;
  }



 