.background-profile-headshot {
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px;
    background-position: center;
}

.lawyerModal{
    background-color: #ededed;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(143, 143, 143);
}

.header-profile{
    background-color: #000;
    width: 100%;
    height: 170rem;
}

.word{
    white-space: break-spaces;
}