.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logo {
  width: 150px;
  height: 60px;
  margin-left: 20px;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
}

.matCard {
  width: 600px;
}

.text-style {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  padding-top: 15px;
}

.mat-Padding {
  padding-top: 10px !important;
}

.mat-forms-fields {
  width: 65%;
  padding-top: 40px;
  padding-bottom: 5px;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.btn-padding {
  padding: 5px 12px 4px 13px;
  border-radius: 7px;
}
