<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/favicon1.png">
      </div>
    </a>
    <a href="assets/img/logo.png" class="simple-text logo-normal">
      My Justice Portal
    </a>
  </div>



  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}} label-bg">
      <a class="d-flex justify-content-center sidebar-style">
        <p class="letter-spacing">{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>