<div class="sidebar-wrapper">
  <div class="logo bg-header logo-size">
    <img [routerLink]="'/case'" src="assets/img/sidebar-logo.png" class="logo-size">
  </div>

  <ul class="nav">
    <li *ngFor="let menuItem of filteredMenuItems;let isLast=last" class="{{menuItem?.class}} label-bg onHoverMenuItem"
      id="{{menuItem?.path}}" [ngClass]="{'pb-3' : isLast}" title="{{menuItem.title}}">
      <a class="d-flex justify-content-center sidebar-style" href="#" [routerLink]="[menuItem.path]"
        (click)="onChangeMenu(menuItem?.path)">
        <p class="letter-spacing">{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>