<div class="col-12 col-sm-12 p-0 d-flex justify-content-between justify-content-sm-between">
    <div>
        <h1 class="header-title font-weight-bold">Manage Profile</h1>
        <label class="header-sub-text">Manage the information that is displayed in your profile and visible to potential clients.</label>
    </div>

</div>

<div class="row">
    <div class="col-12 pt-2">
        <mat-card class="mat-elevation-z10">
            <h1 class="font-weight-bold">Profile Information</h1>
            <table style="width:100%">
                <tr>
                    <th>Name:</th>
                    <td>{{userDetails?.firstName}}{{userDetails?.middleName}}{{userDetails?.lastName}}</td>
                </tr>
                <tr>
                    <th>Tagline:</th>
                    <td>{{userDetails?.userAdditionalInfo?.tagline}}</td>
                </tr>
                <tr>
                    <th>Practice Areas:</th>
                    <td>{{userDetails?.userAdditionalInfo?.practiceAreas}}</td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td>{{userDetails?.userAdditionalInfo?.description}}</td>
                </tr>
                <tr>
                    <th>Profile Picture:</th>
                    <td>
                        <img src="{{userDetails?.userAdditionalInfo?.profile?.downloadLink}}" width="150px" height="150px" alt="logo" class="logo"
                            *ngIf="userDetails?.userAdditionalInfo?.profile?.downloadLink">
                    </td>
                </tr>
            </table>

            <!-- <div class="row">
                <div class="card-body px-0 pt-3 pb-4">
                    <div class="drag-border p-3">
                        <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                            (fileOver)="fileOverAnother($event)" [uploader]="uploader1"
                            class="box-placeholder my-drop-zone font-weight-bold pb-2">
                            Drag and drop files here (or) Choose below to attach.
                        </div>
                        <label for="file1" class="file-upload mb-0">
                            <input id="file1" type="file" ng2FileSelect [uploader]="uploader1" />
                        </label>
                    </div>
                    <table class="table m-0">
                        <tbody>
                            <tr class="pr-0" *ngFor="let item of uploader1?.queue">
                                <td class="pr-0"><strong>{{item?.file?.name}}</strong></td>
                                <td nowrap class="pr-0">
                                    <button mat-raised-button color="warn" (click)="item.remove()">
                                        <mat-icon>delete</mat-icon>Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="uploader1?.queue?.length > 0"
                        class="d-flex align-items-end justify-content-center pr-2">
                        <div class="pr-3">
                            <mat-radio-group color="primary" aria-label="Select an option" [(ngModel)]="fileType">
                                <mat-radio-button value="private" class="pr-3">
                                    Upload as private
                                </mat-radio-button>
                                <mat-radio-button value="shared" class="pr-3">
                                    Upload as shared
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div>
                            <button mat-raised-button color="primary" (click)="onUploadLogo()">
                                <mat-icon>file_upload</mat-icon>Upload
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-12 col-sm-12 d-flex justify-content-between justify-content-sm-between">
                    <div>
                        <button mat-raised-button class="button-purple px-4 py-1 mt-1"
                            (click)="openOrganizationModal(previewProfile)">Preview</button>
                    </div>
                    <div>
                        <button mat-raised-button class="button-purple px-4 py-1 mt-1"
                            (click)="openOrganizationModal(updateOrganization)">Make Changes</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>


<ng-template #updateOrganization>
    <div>
        <h2 class="text-center font-weight-bold">Update Changes.</h2>
    </div>

    <div class="col-12 p-0">
        <mat-form-field appearance="fill" class="w-100 p-1">
            <mat-label> Name</mat-label>
            <input type="text" matInput placeholder="Name" [formControl]="additionalInfoForm.controls['name']" required>
            <mat-error>
                <div *ngIf="additionalInfoForm.controls['name'].invalid && additionalInfoForm.controls['name'].touched">
                    <small class="font13">
                        Name is Required
                    </small>
                </div>
            </mat-error>
        </mat-form-field>
    </div>


    <div class="row px-3">
        <mat-form-field appearance="fill" class="w-50 p-1">
            <mat-label>Tagline</mat-label>
            <input type="text" matInput [formControl]="additionalInfoForm.controls['tagline']">
            <mat-error>
                <div
                    *ngIf="additionalInfoForm.controls['tagline'].invalid && additionalInfoForm.controls['tagline'].touched">
                    <small class="font13">
                        Tagline is Required
                    </small>
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-50 p-1">
            <mat-label>Practice Areas</mat-label>
            <mat-select [formControl]="toppings" multiple [formControl]="additionalInfoForm.controls['practiceAreas']"
                required>
                <mat-option>Select Practice Areas</mat-option>
                <mat-option *ngFor="let specialty of specialtyList" value="{{specialty.specialtyType}}">
                    {{specialty.specialtyType}}
                </mat-option>
            </mat-select>
            <mat-error>
                <div
                    *ngIf="additionalInfoForm.controls['practiceAreas'].invalid && additionalInfoForm.controls['practiceAreas'].touched">
                    <small class="font13">
                        Practice Areas is Required
                    </small>
                </div>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="row px-3">
        <mat-form-field appearance="fill" class="w-100 p-1">
            <mat-label>Description</mat-label>
            <textarea [formControl]="additionalInfoForm.controls['description']" rows="8" cols="50" matInput
                placeholder="Description..."></textarea>
            <mat-error>
                <div
                    *ngIf="additionalInfoForm.controls['description'].invalid && additionalInfoForm.controls['description'].touched">
                    <small class="font13">
                        Description Required
                    </small>
                </div>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="row px-3">
        <div class="card-body px-0 pb-4">
            <div class="drag-border p-3">
                <h4 class="font-weight-bold margin-remove">Your Logo</h4>
                <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                    (fileOver)="fileOverAnother($event)" [uploader]="uploader1"
                    class="box-placeholder my-drop-zone font-weight-bold pb-2">
                    Drag and drop files here (or) Choose below to attach.
                </div>
                <label for="file1" class="file-upload mb-0">
                    <input id="file1" type="file" ng2FileSelect [uploader]="uploader1" />
                </label>
            </div>
            <table class="table m-0">
                <tbody>
                    <tr class="pr-0" *ngFor="let item of uploader1?.queue">
                        <td class="pr-0"><strong>{{item?.file?.name}}</strong></td>
                        <td nowrap class="pr-0">
                            <button mat-raised-button color="warn" (click)="item.remove()">
                                <mat-icon>delete</mat-icon>Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="uploader1?.queue?.length > 0" class="d-flex align-items-end justify-content-center pr-2">
                <div class="pr-3">
                    <mat-radio-group color="primary" aria-label="Select an option" [(ngModel)]="fileType">
                        <!-- <mat-radio-button value="private" class="pr-3">
                            Upload as private
                        </mat-radio-button> -->
                        <mat-radio-button value="shared" class="pr-3">
                            Upload as shared
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="onUploadLogo()">
                        <mat-icon>file_upload</mat-icon>Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <button mat-raised-button class="btn bg-color px-perc py-1" (click)="closeModal()">
            Close
        </button>
        <button class="button-purple px-4 py-1" mat-raised-button (click)="saveChanges()">
            {{buttonText}}
        </button>
    </div>
</ng-template>

<ng-template #previewProfile>
    <div class="row">
        <div class="col mt-5">    
            <mat-card class="outer-card">
                <h1 class="header-title text-center font-weight-bold">Lawyer Profile</h1>
                <p class="text-center">Lawyer profile which is visible Inmate page</p>
                <div class="mt-4">
                    <mat-card class="sponser-card w-100">
                        <h1 class="d-flex justify-content-center line-height color font-weight-bold">
                            {{orgData?.Organization?.name}}
                        </h1>
                        <div class="text-center line-height">
                            <div>
                                <img src="{{userDetails?.userAdditionalInfo?.profile?.downloadLink}}" width="150px" height="150px" alt="logo" class="logo"
                                *ngIf="userDetails?.userAdditionalInfo?.profile?.downloadLink">
                            </div>
                            <div>
                                <h4 class=" line-height color py-2">
                                    {{userDetails?.firstName}} {{userDetails?.middleName}} {{userDetails?.lastName}}
                                </h4>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn bg-color px-perc py-1"
                                mat-raised-button>Contact</button>
                        </div>
                    </mat-card>
                </div>
            </mat-card>
        </div>
    </div>
</ng-template>


