able,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 17px 5px 11px 14px;
  text-align: left;
}

th {
  width: 40%;
  background: #f7f4f4;
}

.margin-remove{
  margin-top: -30px;
}

.outer-card {
  border: 1px solid #333442;
  color: #333442;
  background: #e4e4ec;
}

.bg-color{
  background-color: #333442;
}

.bg-card {
  background: #ededed;
}

.name-para {
  position: relative;
  bottom: 17px;
  left: 7px;
}