<h1 class="header-title">My Account</h1>
<label class="header-sub-text">Manage your account information</label>

<div class="row">
    <div class="col-7">
        <div class="w-100 p-4">
            <div class="row">
                <mat-form-field appearance="fill" class="w-100 p-2">
                    <mat-label>Firstname</mat-label>
                    <input type="text" matInput placeholder="firstname"
                        [formControl]="profileForm.controls['firstName']" required>
                    <mat-error>
                        <div
                            *ngIf="profileForm.controls['firstName'].invalid && profileForm.controls['firstName'].touched">
                            <small class="font13">
                                Firstname is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="w-100 p-2">
                    <mat-label>Lastname</mat-label>
                    <input type="text" matInput placeholder="lastname" [formControl]="profileForm.controls['lastName']"
                        required>
                    <mat-error>
                        <div
                            *ngIf="profileForm.controls['lastName'].invalid && profileForm.controls['lastName'].touched">
                            <small class="font13">
                                Lastname is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="w-100 p-2">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput placeholder="username" [formControl]="profileForm.controls['username']"
                        required>
                    <mat-error>
                        <div
                            *ngIf="profileForm.controls['username'].invalid && profileForm.controls['username'].touched">
                            <small class="font13">
                                username is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row pl-1 pr-1">
                <div class="form-control">
                    <a class="w-100 anchor-style" data-toggle="modal" data-target="#passwordModal" mat-flat-button>Click
                        here to reset your password</a>
                </div>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="w-100 p-2">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" [formControl]="profileForm.controls['email']"
                        required>
                    <mat-error>
                        <div *ngIf="profileForm.controls['email'].invalid && profileForm.controls['email'].touched">
                            <small class="font13">
                                Email is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row mr-3">
                <div class="col-4 p-0">
                    <div class="row">
                        <div class="col-4 pr-0">
                            <mat-form-field appearance="fill" class="w-100 p-2">
                                <mat-label>+</mat-label>
                                <input [disabled]="true" type="text" matInput placeholder="+">
                            </mat-form-field>
                        </div>
                        <div class="col-8">
                            <mat-form-field appearance="fill" class="w-100 p-2">
                                <mat-label>Country Code</mat-label>
                                <input type="number" matInput placeholder="Country Code"
                                    [formControl]="profileForm.controls['countryCode']" required>
                                <mat-error>
                                    <div
                                        *ngIf="profileForm.controls['countryCode'].invalid && profileForm.controls['countryCode'].touched">
                                        <small class="font13">
                                            Country Code is Required
                                        </small>
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-5 p-0">
                    <mat-form-field appearance="fill" class="w-100 p-2">
                        <mat-label>Mobile</mat-label>
                        <input type="text" matInput placeholder="Mobile" [formControl]="profileForm.controls['mobile']"
                            required>
                        <mat-error>
                            <div
                                *ngIf="profileForm.controls['mobile'].invalid && profileForm.controls['mobile'].touched">
                                <small class="font13">
                                    Mobile is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3 d-flex justify-content-between">
                    <div>
                        <i *ngIf="verifiedIcon" class="nc-icon nc-check-2"></i>
                    </div>
                    <div>
                        <button *ngIf="!verifiedIcon"
                            [disabled]="profileForm.get('countryCode').invalid || profileForm.get('mobile').invalid"
                            mat-raised-button color="primary" class="mt-2 px-5 py-2" (click)="onGetOtp()">Get
                            Otp</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="OtpField" class=" d-flex justify-content-between">
                    <div>

                        <mat-form-field appearance="fill" class="w-100 p-2">
                            <mat-label>Enter Otp</mat-label>
                            <input type="number" matInput placeholder="Enter Otp"
                                [formControl]="profileForm.controls['otp']" required>
                            <mat-error>
                                <div *ngIf="profileForm.controls['otp'].invalid && profileForm.controls['otp'].touched">
                                    <small class="font13">
                                        Otp is Required
                                    </small>
                                </div>
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div>
                        <button [disabled]="profileForm.get('otp').invalid" mat-raised-button color="primary"
                            class="mt-2 px-5 py-1" (click)="onVerifySms()">Submit</button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <button data-toggle="modal" data-target="#manageSecurityQuestionModal" class="px-4 py-1"
                    mat-raised-button color="primary">Manage Security Questions</button>
                <button class="px-4 py-1" mat-raised-button color="primary" (click)="editChanges()">Edit
                    Changes</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end col-5">
        <mat-slide-toggle [checked]="user?.isMFA" (change)="onMfaSelect()"
            [formControl]="profileForm.controls['isMFA']">isMFA</mat-slide-toggle>
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="d-flex justify-content-center modal-header">
                <mat-label class="font-weight-bold">Update Password
                </mat-label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100 p-2">
                                <mat-label>New Password</mat-label>
                                <input type="password" matInput placeholder="password"
                                    [formControl]="passwordForm.controls['password']" required>
                                <mat-error>
                                    <div
                                        *ngIf="passwordForm.controls['password'].invalid && passwordForm.controls['password'].touched">
                                        <small class="font13">
                                            Password is Required
                                        </small>
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100 p-2">
                                <mat-label>Confirm Password</mat-label>
                                <input type="password" matInput placeholder="Confirm Password"
                                    [formControl]="passwordForm.controls['confirmPassword']" required>
                                <mat-error>
                                    <div *ngIf="passwordForm.controls['confirmPassword'].invalid && passwordForm.controls['confirmPassword'].touched
                                         && passwordForm.controls['confirmPassword'].hasError('notSamePassword')">
                                        <small class="font13">
                                            Password does not match
                                        </small>
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info waves-effect waves-light" data-dismiss="modal"
                    (click)="passwordChange()">Save</button>
            </div>
        </div>
    </div>
</div><!-- /.modal -->

<!-- modal -->
<div class="modal fade" id="manageSecurityQuestionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="d-flex justify-content-center modal-header">
                <mat-label class="font-weight-bold">Manage Security Questions</mat-label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="dropdown" [formControl]="securityQuestionForm.controls['securityQuestionId']"
                                (change)="onSelectQuestions($event.target.value)">
                                <option [selected]="true">Select Question</option>
                                <option *ngFor="let securityQuestion of securityQuestionList"
                                    [value]="securityQuestion.securityQuestionId">{{securityQuestion.question}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <mat-form-field appearance="fill" class="w-100 p-2">
                                <mat-label>Answer</mat-label>
                                <input type="text" matInput placeholder="Answer"
                                    [formControl]="securityQuestionForm.controls['answer']" required>
                                <mat-error>
                                    <div
                                        *ngIf="securityQuestionForm.controls['answer'].invalid && securityQuestionForm.controls['answer'].touched">
                                        <small class="font13">
                                            Answer is Required
                                        </small>
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal"
                    (click)="onSaveChanges()">Save</button>
                <button type="button" class="btn btn-info waves-effect waves-light"
                    (click)="securityQuestionForm.enable()">Edit</button>
            </div>
        </div>
    </div>
</div>