<div class="header">
    <img src="assets/img/logo.png" alt="logo" class="logo">
</div>
<div class="register-container">
    <div class="matCard">
        <h1 class="text-center">Create an Account</h1>
        <mat-card>
            <div class="col-md-12" class="input-container">
                <div class="col-md-6 input-name">
                    <mat-form-field appearance="fill" class="mat-forms-fields form-fields">
                        <mat-label>FirstName</mat-label>
                        <input matInput placeholder="First Name" [formControl]="registrationForm.controls['firstName']"
                            required>
                        <mat-error
                            *ngIf="registrationForm.controls['firstName'].invalid && registrationForm.controls['firstName'].touched">
                            <small class="text-danger" *ngIf="registrationForm.get('firstName').errors?.required">
                                First Name is
                                Required</small>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6" style="padding-right: 0;">
                    <mat-form-field appearance="fill" class="mat-forms-fields form-fields">
                        <mat-label>LastName</mat-label>
                        <input matInput placeholder="Last Name" [formControl]="registrationForm.controls['lastName']"
                            required>
                        <mat-error
                            *ngIf="registrationForm.controls['lastName'].invalid && registrationForm.controls['lastName'].touched">
                            <small class="text-danger" *ngIf="registrationForm.get('lastName').errors?.required">
                                Last Name is
                                Required</small>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-12" class="input-container">
                <mat-form-field appearance="fill" class="mat-forms-fields form-fields">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" [formControl]="registrationForm.controls['email']" required>
                    <mat-error
                        *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched">
                        <small class="text-danger" *ngIf="registrationForm.get('email').errors?.required">
                            Email is
                            Required</small>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12" class="input-container">
                <mat-form-field appearance="fill" class="mat-forms-fields form-fields">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="password"
                        [formControl]="registrationForm.controls['password']" required>
                    <mat-error
                        *ngIf="registrationForm.controls['password'].invalid && registrationForm.controls['password'].touched">
                        <small class="text-danger" *ngIf="registrationForm.get('password').errors?.required">
                            Password is
                            Required</small>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12" class="input-container">
                <mat-form-field appearance="fill" class="mat-forms-fields form-fields">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput placeholder="Confirm Password"
                        [formControl]="registrationForm.controls['confirmPassword']" required>
                    <mat-error
                        *ngIf="registrationForm.controls['confirmPassword'].invalid && registrationForm.controls['confirmPassword'].touched">
                        <small class="text-danger" *ngIf="registrationForm.get('confirmPassword').errors?.required">
                            Password is
                            Required</small>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="btn-group">
                <div>
                    <button mat-raised-button color="primary" class="btn-padding"
                        (click)="onRegister()">Register</button>
                </div>
                <div>
                    <button [routerLink]="'/login'" mat-stroked-button color="primary" class="btn-padding">Back to
                        Login</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>