<div class="d-flex justify-content-between">
    <div>
        <h1 class="mb-0">Case Details</h1>
        <h4>View requested case details.</h4>
    </div>
    <div>
        <button mat-raised-button class="btn-background px-5 py-1" (click)="onGoBack()">
            Go Back
        </button>
    </div>
</div>

<div>
    <mat-card class="inner-card mat-elevation-z10 mt-3">
        <mat-label class="font-weight-bold" *ngIf="!singleCaseData">
            <span>No data available, invalid url detected.</span>
        </mat-label>
        <div class="d-flex flex-column" *ngIf="singleCaseData">
            <span>
                <b> Description</b>: {{singleCaseData?.briefDescriptionOfChargeOrLegalMatter}}
            </span>
            <span><b>Charges or Legal Matter</b>: {{singleCaseData?.legalMatter}}</span>
            <span>
                <b>Requested By</b>: {{singleCaseData?.inmate?.firstName}}
                <span *ngIf="singleCaseData?.inmate?.middleName">
                    &nbsp;{{singleCaseData?.inmate?.middleName}}
                </span> &nbsp;{{singleCaseData?.inmate?.lastName}}
            </span>
            <span>
                <b>Status</b>:&nbsp;
                <span class="font-weight-bold" [ngClass]="{'text-warning': singleCaseData?.lawyer_case?.status == 'Lawyer Requested', 
                        'text-success': singleCaseData?.lawyer_case?.status == 'Connected',
                        'text-danger': singleCaseData?.lawyer_case?.status == 'Lawyer Rejected'}">
                    {{singleCaseData?.lawyer_case?.status}}
                </span>
            </span>
            <span>
                <b>County Of Arrest</b>: {{singleCaseData?.countyOfArrest}}
                <span *ngIf="!singleCaseData?.countyOfArrest">N/A</span>
            </span>
            <!-- <span>
               <b>Other Information</b>: {{singleCaseData?.otherInformation}}
                <span *ngIf="!singleCaseData?.otherInformation">N/A</span>
            </span> -->
            <span>
                <b>Date Of Arrest</b>: {{singleCaseData?.dateOfArrest | date:'longDate'}}
                <span *ngIf="!singleCaseData?.dateOfArrest">N/A</span>
            </span>
            <span>
                <b>Next Court Date</b>: {{singleCaseData?.nextCourtDate | date:'longDate'}}
                <span *ngIf="!singleCaseData?.nextCourtDate">N/A</span>
            </span>
            <span>
                <b>Notes</b>: {{singleCaseData?.lawyer_case?.notes}}
                <span *ngIf="!singleCaseData?.attorneyName">N/A</span>
            </span>
            <!-- <span class="pt-3">
                Files attached:{{singleCaseData?.caseFile?.length}}
            </span> -->
        </div>
        <mat-card class="d-flex justify-content-between align-items-center inner-card mt-2" *ngFor="let file of singleCaseData?.caseFile">
            <div>
                <mat-label class="font-weight-bold">
                    {{file?.fileName}}
                </mat-label>
                <div class="pt-1">
                    <span>
                        Uploaded Date: {{file?.createdAt | date : 'longDate'}}
                    </span>
                </div>
            </div>
            <div>
                <button mat-mini-fab color="primary" title="Download" (click)="onDownloadCaseFile(file?.fileId)">
                    <mat-icon>cloud_download</mat-icon>
                </button>
            </div>
        </mat-card>
    </mat-card>
</div>

<div class="card-body px-0 pt-3 pb-4">
    <div class="drag-border p-3">
        <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader1" class="box-placeholder my-drop-zone font-weight-bold pb-2">
            Drag and drop files here (or) Choose below to attach.
        </div>
        <label for="file1" class="file-upload mb-0">
            <input id="file1" type="file" ng2FileSelect [uploader]="uploader1" multiple />
        </label>
    </div>
    <div class="d-flex align-items-end justify-content-center pr-2">
        <table class="table m-0">
            <tbody>
                <tr class="pr-0" *ngFor="let item of uploader1?.queue">
                    <td class="pr-0"><strong>{{item?.file?.name}}</strong></td>
                    <td nowrap class="pr-0 text-center pl-0">
                        <button mat-raised-button color="warn" (click)="item.remove()">
                            <mat-icon>delete</mat-icon>Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="uploader1?.queue?.length > 0" class="d-flex">
        <div class="col-8">
            <div class="pr-3">
                <mat-radio-group color="primary" aria-label="Select an option" [(ngModel)]="fileType">
                    <mat-radio-button value="private" class="pr-3">
                        Upload as private
                    </mat-radio-button>
                    <mat-radio-button value="shared" class="pr-3">
                        Upload as shared
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-4">
            <div>
                <button mat-raised-button color="primary" (click)="onUploadCaseFile()">
                    <mat-icon>file_upload</mat-icon>Upload
                </button>
            </div>
        </div>
    </div>
</div>

<!-- To Show Uploaded Shared Files -->

<!-- <div class="pb-3">
    <mat-card class="outer-card">
        <mat-label class="font-weight-bold">
            Shared Files (with my Lawyers)({{sharedCaseFiles?.length}}):
        </mat-label>
        <div *ngIf="!sharedCaseFiles?.length">
            <mat-label class="font-weight-bold text-info">
                No files uploaded yet.
            </mat-label>
        </div>
        <mat-card class="d-flex justify-content-between align-items-center inner-card mt-2 px-2" *ngFor="let file of sharedCaseFiles">
            <div>
                <a class="font-weight-bold" title="Download" href="javascript:void(0)" (click)="onDownloadCaseFile(file?.fileId)">
                    {{file?.fileName}}
                </a>
                <div class="pt-1">
                    <span>
                        Created By: {{file?.createdBy?.firstName}} {{file?.createdBy?.lastName}}
                    </span>
                    <span class="pl-2">
                        Uploaded Date: {{file?.createdAt | date : 'MM/dd/yyyy'}}
                    </span>
                    <span class="pl-2">
                        Type: {{file?.fileType}}
                    </span>
                </div>
            </div>
            <div class="d-flex">
                <button class="ml-1" mat-mini-fab color="warn" title="Delete" (click)="onOpenModal(confirmModal,file?.fileId)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>
    </mat-card>
</div> -->

<!-- To Show Uploaded Private Files -->

<!-- <div class="pb-3">
    <mat-card class="outer-card">
        <mat-label class="font-weight-bold">
            Shared Files (with my Legal Researchers)({{privateCaseFiles?.length}}):
        </mat-label>
        <div *ngIf="!privateCaseFiles?.length">
            <mat-label class="font-weight-bold text-info">
                No files uploaded yet.
            </mat-label>
        </div>
        <mat-card class="d-flex justify-content-between align-items-center inner-card mt-2 px-2" *ngFor="let file of privateCaseFiles">
            <div>
                <a class="font-weight-bold" title="Download" href="javascript:void(0)" (click)="onDownloadCaseFile(file?.fileId)">
                    {{file?.fileName}}
                </a>
                <div class="pt-1">
                    <span>
                        Created By: {{file?.createdBy?.firstName}} {{file?.createdBy?.lastName}}
                    </span>
                    <span class="pl-2">
                        Uploaded Date: {{file?.createdAt | date : 'MM/dd/yyyy'}}
                    </span>
                    <span class="pl-2">
                        Type: {{file?.fileType}}
                    </span>
                </div>
            </div>
            <div class="d-flex">
                <button class="ml-1" mat-mini-fab color="warn" title="Delete" (click)="onOpenModal(confirmModal,file?.fileId)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card>
    </mat-card>
</div> -->

<ng-template #confirmModal>
    <div class="d-flex justify-content-center p-2">
        <mat-label class="font-weight-bold">Are you sure you want to delete this file?</mat-label>
    </div>
    <div class="d-flex justify-content-between p-2">
        <button mat-raised-button color="primary" class="button-purple px-4 py-1" (click)="onDeleteCaseFile()">
            Yes
        </button>
        <button class="button-purple px-4 py-1" mat-raised-button color="primary" (click)="closeModal()">
            No
        </button>
    </div>
</ng-template>