.img-profile {
    width: 180px;
    padding: 3%;
    margin: auto;
    border: 2px solid #ededed;
  }

  .bg-card {
    background: #ededed;
  }
  
.background-profile-headshot{
  background-size: cover;
    background-repeat: no-repeat;
    height: 170px;
    width: 998px;
    background-position: center !important;
}