<div class="col-12">
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="line-height font-weight-bold">Case 1:Aggravated Assault</h1>
            <h4 class="line-height">Your case details at-a-glance</h4>
        </div>
        <div>
            <button [routerLink]="'/case'" class="white-btn" mat-raised-button color="primary">Back To My
                Cases</button>
        </div>
    </div>
    <div class="col-12 pl-0">
        <div class="row">
            <div class="col-7">
                <mat-card>
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3 class="line-height font-weight-bold">Case Information</h3>
                        </div>
                        <div>
                            <button class="white-btn" mat-raised-button color="primary" (click)="myCases()">Edit
                                Cases</button>
                        </div>
                    </div>
                    <div>
                        <mat-label>
                            <span class="text-default">First Name</span><span> :
                            </span><span> {{caseDetails?.user?.firstName}}</span>
                        </mat-label>
                    </div>
                    <div>
                        <mat-label>
                            <span class="text-default">Last Name</span><span> :
                            </span><span> {{caseDetails?.user?.lastName}}</span>
                        </mat-label>
                    </div>
                    <div>
                        <mat-label>
                            <span class="text-default">Charges or Legal Matter</span><span> : </span><span>Aggravated
                                Assault</span>
                        </mat-label>
                    </div>
                    <div>
                        <mat-label>
                            <span class="text-default">County of Arrest</span><span> :
                            </span><span> {{caseDetails?.countyOfArrest}}</span>
                        </mat-label>
                    </div>
                    <div>
                        <mat-label>
                            <span class="text-default">Date of Arrest</span><span> :
                            </span><span> {{caseDetails?.dateOfArrest |date: 'dd/MM/yy'}}</span>
                        </mat-label>
                    </div>
                    <div>
                        <mat-label>
                            <span class="text-default">This Case Is Related To</span><span> :
                            </span><span> {{caseDetails?.caseRelatedTo}}</span>
                        </mat-label>
                    </div>
                    <div>
                        <mat-label>
                            <span class="text-default">Case
                                Jurisdiction</span><span>:</span><span> {{caseDetails?.caseJurisdiction}}</span>
                        </mat-label>
                    </div>
                    <div>
                        <mat-label>
                            <span class="text-default">Next Court
                                Date</span><span>:</span><span> {{caseDetails?.nextCourtDate | date: 'dd-MM-yy'}}</span>
                        </mat-label>
                    </div>
                    <div>
                        <mat-label>
                            <span class="text-default">Legal
                                Representation</span><span>:</span><span> {{caseDetails?.legalRepresentative}}</span>
                        </mat-label>
                    </div>
                </mat-card>
            </div>
            <div class="col-5">

            </div>
        </div>
    </div>
</div>