.background-color {
  background-color: #333442;
}

.white-btn {
  background: #e4e4ec;
  color: #333442;
}

.text-default {
  font-weight: 800;
  line-height: 7.5px;
  white-space: nowrap;
}

.view-card-color {
  border: 1px solid #333442;
}


.btn-group {
  width: 50%;
}

.padding-btn {
  padding-left: 41px;
  padding-right: 40px;
}
