<div class="chat-messages">
    <div id="scroller" class="chat-messages-show-container chat-scroll" #scroll [scrollTop]="scroll.scrollHeight">
        <div *ngFor="let messages of allMessages" [ngClass]="messages.senderId !== userInfo?.userId ? 'sender-align': 'receiver-align'">
            <ul [ngClass]="messages.senderId !== userInfo?.userId ? 'sender-messages':'receiver-messages '" class="chat-messages-show-list d-flex flex-column" id="message-list">
                <li>
                    {{messages.message}}
                </li>
                <div><span>{{messages.createdAt | date:'shortTime'}}</span></div>
            </ul>
        </div>

        <mat-spinner *ngIf="isLoading" class="spinner-style" [diameter]="50"></mat-spinner>
        <span *ngIf="isDisabled" class="text-center">You are limited to 10 chats while in inquiry.</span>
    </div>
    <div class="chat-messages-create-container">
        <div class="col-12 d-flex justify-content-between">
            <input class="chat-messages-create-input" placeholder="Type a message" type="text" [(ngModel)]="message" (keydown.enter)="SendMessage()">
            <button [disabled]="isDisabled" mat-raised-button class="px-4 send-msg-btn" (click)="SendMessage()">
                Send
            </button>
        </div>
    </div>
</div>