<div class="col-12 pl-0">
    <div class="d-flex justify-content-between align-items-center pb-3">
        <div>
            <h1 class="line-height font-weight-bold">Pending Inquiries</h1>
            <h4 class="line-height header-sub-text">
                View and manage your prospective lawyer inquiries. When both you and a lawyer accept the connection, your lawyer will be able to message you and upload files related to your case.
            </h4>
        </div>
    </div>
    <mat-card>
        <div class="d-flex justify-content-between">
            <div>
                <mat-form-field class="w-100">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="search($event.target.value)">
                </mat-form-field>
            </div>
            <div>
                <mat-checkbox class="mat-card check-style" color="primary" title="View Rejected Cases" (change)="viewhidePendingInquiries($event.checked)">
                    View Rejected Inquiries
                </mat-checkbox>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="lawFirm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Law Firm</th>
                <td mat-cell *matCellDef="let case">
                    {{case?.Organization?.name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="lawyer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Lawyer</th>
                <td mat-cell *matCellDef="let case">
                    <span>{{case?.firstName}} {{case?.middleName}} {{case?.lastName}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="sent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sent</th>
                <td mat-cell *matCellDef="let case">
                    {{case?.sent}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let case">{{case?.status}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let case">
                    <button *ngIf="(!case.status === 'Lawyer Requested' ||  case.status === 'Lawyer Rejected')" [disabled]="(case.status === 'Lawyer Rejected')" class="btn btn-sm btn-primary" color="green" (click)="onClickStatus('inmate_accepted',case.userId,case.caseId)">
                        Accept
                    </button>
                    <button *ngIf="(case.status === 'Inmate Rejected' || case.status === 'Disconnected')" [disabled]="(case.status === 'Lawyer Rejected')" class="btn btn-sm btn-primary" color="green" (click)="onClickStatus('Lawyer Requested',case.userId,case.caseId)">
                        Request Again
                    </button>
                    <button *ngIf="case.status === 'Lawyer Requested' ||  case.status === 'Lawyer Requested'" [disabled]="(case.status === 'inmate_rejected'  || case.status === 'inmate_accepted' 
                    ||  case.status === 'Rejected' ||  case.status === 'Requested')" class="btn btn-sm btn-primary" color="green" (click)="onClickStatus('Inmate Rejected',case.userId,case.caseId)">
                        Cancel
                    </button>
                    <button *ngIf="case.status === 'Lawyer Approved'" [disabled]="(case.status === 'inmate_rejected'  || case.status === 'inmate_accepted' ||  
                    case.status === 'Rejected' ||  case.status === 'Requested')" class="btn btn-sm btn-primary" color="green" (click)="onClickStatus('Connected',case.userId,case.caseId)">
                        Connect
                   </button>
                    <button *ngIf="case.status === 'Connected'" class="btn btn-sm btn-danger" (click)="onClickStatus('Disconnected',case.userId,case.caseId)">
                       Disconnect
                  </button>
                    <button *ngIf="(case.status === 'Lawyer Requested' || case.status === 'Lawyer Approved' 
                    || case.status === 'Inmate Rejected' || case.status === 'Lawyer Rejected')" [disabled]="(!case.status === 'Lawyer Requested' 
                    || case.status === 'Inmate Rejected' || case.status === 'Lawyer Rejected')" class="btn btn-sm btn-warning" (click)="onClickStatus('Inmate Rejected',case.userId,case.caseId)">
                        Reject
                    </button>
                    <button [disabled]="(case.status === 'Rejected' || case.status === 'Lawyer Rejected')" class="btn btn-sm btn-dark" (click)="onOpenModal(openModal,case.userId)">
                        Message
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="getPageSizeOptions()"></mat-paginator>
    </mat-card>

</div>

<ng-template #openModal>
    <div>
        <h2 class="text-center font-weight-bold">Do you want to chat more? </h2>
    </div>
    <div class="d-flex justify-content-between py-2">
        <button mat-raised-button class="button-purple px-4 py-1" (click)="closeModal()">
            No
        </button>
        <button class="button-purple px-4 py-1" mat-raised-button (click)="saveChanges()">
            Yes
        </button>
    </div>
</ng-template>