<div class="d-flex justify-content-center align-items-center bg-color">
    <div class="w-25 my-3">
        <div class="d-flex justify-content-center">
            <img src="assets/img/logo.png" alt="logo" class="logo">
        </div>
        <div *ngIf="roleId == 1">
            <h1 class="text-center">Inmate Registration</h1>
        </div>
        <div *ngIf="roleId == 3">
            <h1 class="text-center">Lawyer Registration</h1>
        </div>
        <div *ngIf="roleId == 6">
            <h1 class="text-center">Bondsman Registration</h1>
        </div>
        <div *ngIf="roleId == 4">
            <h1 class="text-center">Researcher Registration</h1>
        </div>
        <div *ngIf="roleId == 5">
            <h1 class="text-center">Public Defender Registration</h1>
        </div>
        <h3 class="text-center font-weight-bold">Step 3/{{totalSteps}}</h3>
        <mat-card class="p-4">
            <h2 class="text-center">Select facilities:</h2>
            <p class="pl-3">Please choose facilities.</p>
            <ul class="pl-3">
                <div *ngIf="facilityList.length">
                    <li *ngFor="let facility of facilityList">
                        <mat-checkbox color="primary" (change)="onNativeChange($event.checked,facility?.facilityId)">
                            {{facility?.facilityName}}
                        </mat-checkbox>
                    </li>
                </div>
                <span *ngIf="!facilityList.length">
                    <span>Unfortunately, we do not currently have any active facilities in your state. Please
                        contact us and we can prioritizing
                        access for your state.</span>
                </span>
            </ul>
            <div class="mx-3 row d-flex justify-content-between mt-2">
                <button class="button-purple px-4 py-1" mat-raised-button (click)="onPeviousClick()">
                    Back
                </button>
                <button class="button-purple px-4 py-1" mat-raised-button [disabled]="!facility?.length"
                    (click)="submit()">
                    Submit
                </button>
            </div>
        </mat-card>
    </div>
</div>