<footer class="footer">
    <div class="container-fluid">
        <!-- <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                       Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav> -->
        <hr>
        <div class="copyright pull-right mt-2">
            &copy; {{test | date: 'yyyy'}} My Justice Portal&nbsp;
            <a target="_blank" href="terms-and-conditions" class="text-dark">
                Terms and Conditions
            </a>&nbsp;
            <a target="_blank" href="privacy-policy" class="text-dark">
                Privacy Policy
            </a>&nbsp;
            <a target="_blank" href="disclaimers" class="text-dark">
                Disclaimers
            </a>
        </div>
        
        <div *ngIf="isButton && this.userInfo.status">
            <div class="d-flex justify-content-end line-height mt-3">
                <button [routerLink]="buttonLink" class="white-btn py-1 mat-raised-button mat-button-base"
                    (click)="onClickButton()">
                    <i class="nc-icon nc-single-02 pr-1"></i>
                    {{footerText}}
                </button>
            </div>
        </div>
    </div>
</footer>