.wpx-420 {
  width: 420px;
}

.mat-progress-bar {
  height: 20px !important;
}

.mat-typography {
  background-color: #fffbfb !important;
}

.mat-progress-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
