.mat-progress-bar {
  height: 20px !important;
}

.mat-typography {
  background-color: #fffbfb !important;
}

.mat-progress-section {
  position: absolute;
  /* padding: 10px; */
  color: white;
  /* top: 40px; */
}