<div class="d-flex justify-content-center align-items-center bg-color">
    <div class="my-3">
        <div class="d-flex justify-content-center">
            <img src="assets/img/logo.png" alt="logo" class="logo">
        </div>
        <mat-card class="p-5">
            <div class="mb-5">
                <section class="d-flex justify-content-center align-item-center">
                    <mat-progress-bar mode="determinate" value="{{progressValue}}"></mat-progress-bar>
                    <div class="mat-progress-section"> {{progressValue}}/100% </div>
                </section>
            </div>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Select Question</mat-label>
                <mat-select [formControl]="securityQuestionForm.controls['securityQuestionId']">
                    <mat-option *ngFor="let question of securityQuestions" [value]="question.securityQuestionId">
                        {{question.question}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Answer</mat-label>
                <input type="text" matInput placeholder="Answer" [formControl]="securityQuestionForm.controls['answer']"
                    required>
            </mat-form-field>

            <div class="d-flex justify-content-between">
                <button mat-button color="primary" (click)="onBackClick()">
                    BACK
                </button>

                <button [disabled]="securityQuestionForm.get('answer').invalid" *ngIf="count != 2" class="px-4 py-1"
                    mat-raised-button color="primary" (click)="onAnswerQuestion()">NEXT</button>

                <button [disabled]="securityQuestionForm.get('answer').invalid" *ngIf="count == 2" class="px-4 py-1"
                    mat-raised-button color="primary" (click)="register()">REGISTER</button>
            </div>
        </mat-card>
        <div class="row d-flex justify-content-center pt-2">
            <a [routerLink]="'/login'" mat-button>Back to Login</a>
        </div>
    </div>
</div>