<div class="row">
    <div *ngIf="isCreateCase" class="col-8">
        <app-new-case (back)="clickBack($event)"></app-new-case>
    </div>
    <div *ngIf="!isCreateCase" class="col-6">
        <div>
            <h1 class="line-height font-weight-bold">My Cases</h1>
            <h4 class="line-height header-sub-text">A dashboard to view and manage all the cases you have created</h4>
        </div>

        <div class="p-2">
            <mat-card class="w-100 card-style">
                <div class="d-flex justify-content-between">
                    <div>
                        <mat-label><span class="case-heading color">Case 1</span><span
                                class="case-heading color">:</span><span class="case-heading color">Aggravated
                                Assault</span></mat-label>
                        <br>
                        <span class="color">My Current Charges</span>
                    </div>
                    <div>
                        <button class='button-play'>
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="p-2">
            <mat-card class="w-100 card-style">
                <div class="d-flex justify-content-between">
                    <div>
                        <mat-label><span class="case-heading color">Case 2</span><span
                                class="case-heading color">:</span><span class="case-heading color">Theft by
                                Taking</span></mat-label>
                        <br>
                        <span class="color">A Pending Appeal</span>
                    </div>
                    <div>
                        <button class='button-play'>
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="p-2">
            <button class="background-color" mat-raised-button color="primary" (click)="isCreateCase = true">Add a New
                Case</button>
        </div>
    </div>
</div>