/* You can add global styles to this file, and also import other style files */

body {
  background-color: #ffffff;
}

.font13 {
  font-size: 13px;
}

.cursor-pointer {
  cursor: pointer;
}

/* .mat-checkbox-background {
  background: #7676d4 !important;
} */

.mat-select-panel mat-option.mat-option {
  height: unset;
}

.mat-option-text.mat-option-text {
  white-space: normal;
  line-height: 29px;
}

.header-sub-text {
  font-size: 18px;
}

.color-grey {
  color: #333442;
}

.bg-header {
  background: #eaeaea !important;
}

.line-height {
  line-height: 14px !important;
}

.nc-single-02::before {
  color: black;
}

.dropup .dropdown-toggle:after, .dropdown .dropdown-toggle:after {
  color: black;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

input[type="text"]:disabled {
  cursor: not-allowed;
  -webkit-text-fill-color: #1f1e1e;
  opacity: 1;
}

input[type="textarea"]:disabled {
  cursor: not-allowed;
  -webkit-text-fill-color: #1f1e1e;
  opacity: 1;
}