/* You can add global styles to this file, and also import other style files */
body {
  background-color: #ffffff;
}

.font13 {
  font-size: 13px;
}

.cursor-pointer {
  cursor: pointer;
}

.header-sub-text {
  font-size: 18px;
}

.color {
  color: #333442;
}

.bg-header {
  background: #eaeaea !important;
}

.line-height {
  line-height: 14px !important;
}
