/* You can add global styles to this file, and also import other style files */
body {
  background-color: #ffffff;
}

.font13 {
  font-size: 13px;
}

.cursor-pointer {
  cursor: pointer;
}

.header-sub-text {
  font-size: 18px;
}
