/* You can add global styles to this file, and also import other style files */

body {
  background-color: #ffffff;
}

.font13 {
  font-size: 13px;
}

.cursor-pointer {
  cursor: pointer;
}

.header-sub-text {
  font-size: 18px;
}

.color-grey {
  color: #333442;
}

.bg-header {
  background: #eaeaea !important;
}

.line-height {
  line-height: 14px !important;
}

.nc-single-02::before {
  color: black;
}

.dropup .dropdown-toggle:after,
.dropdown .dropdown-toggle:after {
  color: black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

// For material table.

/* .mat-checkbox-background {
  background: #7676d4 !important;
} */

.mat-select-panel mat-option.mat-option {
  height: unset;
}

.mat-option-text.mat-option-text {
  white-space: normal;
  line-height: 29px;
}

.mat-table td,
.mat-table th {
  border: 1px solid #eee;
  padding: 8px !important;
}

.mat-table tr:nth-child(even) {
  background-color: #fafbfc;
}

.mat-table tr:hover {
  background-color: #ddd;
}

.mat-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fafbfc;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

// mat-option:last-child:before {
//   content: "All";
//   float: left;
//   text-transform: none;
//   top: 4px;
//   position: relative;
// }

// mat-option:last-child .mat-option-text {
//   display: none;
//   position: relative;
// }

[mat-mini-fab]:focus {
  outline: 0 !important;
}

input[type="text"]:disabled {
  cursor: not-allowed;
  -webkit-text-fill-color: #1f1e1e;
  opacity: 1;
}

.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  cursor: not-allowed;
  background: transparent;
  background-color: #f5f5f5 !important;
  -webkit-text-fill-color: #1f1e1e;
  opacity: 1;
}

textarea:disabled,
textarea[disabled] {
  cursor: not-allowed;
  background: transparent;
  background-color: #f5f5f5 !important;
  -webkit-text-fill-color: #1f1e1e;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .navbar-nav .dropdown-item.show .dropdown-menu,
  .dropdown.show .dropdown-menu,
  .dropdown-btn.show .dropdown-menu {
    transform: translate3d(0px, 0px, 0px) !important;
    visibility: visible !important;
    position: absolute !important;
    box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.125) !important;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.3s ease 0s, height 0s linear 0.35s !important;
  }
}
