<div>
    <mat-card class="w-100">
        <div class="d-flex justify-content-between">
            <div class="w-25">
                <mat-form-field class="w-100">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="search($event.target.value)">
                </mat-form-field>
            </div>
            <div class="pr-2">
                <button mat-raised-button class="button-purple px-4 py-1" (click)="openModal(addFacility)">
                    Add Facility
                </button>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="facilityCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Facility Code</th>
                <td mat-cell *matCellDef="let facility">{{facility?.facilityCode}}</td>
            </ng-container>
            <ng-container matColumnDef="facilityName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Facility Name</th>
                <td mat-cell *matCellDef="let facility">{{facility?.facilityName}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let facility">
                    <button mat-mini-fab color="warn" title="Delete Facilities"
                        (click)="onDeleteFacility(facility.facilityId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </mat-card>
</div>

<ng-template #addFacility>
    <div class="d-flex justify-content-center">
        <h3 class="font-weight-bold">Add Facility</h3>
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <ul *ngIf="facilityList" class="pl-3">
                    <li *ngFor="let facility of facilityList">
                        <mat-checkbox color="primary" (change)="onNativeChange($event.checked,facility?.facilityId)">
                            {{facility?.facilityName}}
                        </mat-checkbox>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button mat-raised-button class="button-purple px-4 py-1" (click)="onSaveChanges()">Submit</button>
    </div>
</ng-template>