<div class="d-flex justify-content-start">
    <div class="w-100 my-3">
        <div>
            <h1 class="line-height font-weight-bold">Twilio Connection</h1>
            <h4 class="line-height header-sub-text">
                Manage your Twilio connection settings.
            </h4>
        </div>
        <mat-card class="w-100 p-5">
            <div class="row">
                <mat-form-field appearance="fill" class="w-100 p-2">
                    <mat-label>Account Sid</mat-label>
                    <input type="text" matInput placeholder="Account Sid"
                        [formControl]="twilioCredentialForm.controls['accountSid']" required>
                    <mat-error>
                        <div
                            *ngIf="twilioCredentialForm.controls['accountSid'].invalid && twilioCredentialForm.controls['accountSid'].touched">
                            <small class="font13">
                                Account Sid is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="w-100 p-2">
                    <mat-label>Auth Token</mat-label>
                    <input type="text" matInput placeholder="Auth Token"
                        [formControl]="twilioCredentialForm.controls['authToken']" required>
                    <mat-error>
                        <div
                            *ngIf="twilioCredentialForm.controls['authToken'].invalid && twilioCredentialForm.controls['authToken'].touched">
                            <small class="font13">
                                Auth Token is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row d-flex justify-content-between">
                <button class="button-purple px-4 py-1 ml-2" mat-raised-button
                    (click)="this.twilioCredentialForm.enable();enableSave()">
                    Edit Changes
                </button>
                <button [disabled]="isDisabled" class="px-4 py-1 mr-2" mat-raised-button color="primary"
                    (click)="updateTwilioCendencialChanges()">
                    Save
                </button>
            </div>
        </mat-card>
    </div>
</div>