<!-- address colms -->
<div class="d-flex justify-content-center align-items-center">
    <div class="my-5">
        <div class="d-flex justify-content-center">
            <img src="assets/img/logo.png" alt="logo" class="logo">
        </div>
        <h3 class="text-center font-weight-bold">Step 2/{{totalSteps}}</h3>
        <mat-card class="p-4">
            <h2 class="text-center">Enter your Organization details:</h2>
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="fill" class="w-100 px-2 mb-1">
                        <mat-label>Organization Name</mat-label>
                        <input type="text" matInput [formControl]="organisationForm.controls['name']" required>
                        <mat-error>
                            <div
                                *ngIf="organisationForm.controls['name'].invalid && organisationForm.controls['name'].touched">
                                <small class="font13">
                                    Organization Name is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100 pl-2 mb-1">
                        <mat-label>Street 1</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['street1']" required>
                        <mat-error>
                            <div
                                *ngIf="addressForm.controls['street1'].invalid && addressForm.controls['street1'].touched">
                                <small class="font13">
                                    Street 1 address is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 pl-0">
                    <mat-form-field appearance="fill" class="w-100 pr-2 mb-1">
                        <mat-label>Street 2</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['street2']">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100 pl-2 mb-1">
                        <mat-label>City</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['city']" required>
                        <mat-error>
                            <div *ngIf="addressForm.controls['city'].invalid && addressForm.controls['city'].touched">
                                <small class="font13">
                                    City is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 pl-0">
                    <mat-form-field appearance="fill" class="w-100 pr-2 mb-1">
                        <mat-label>State</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['state']" required>
                        <mat-error>
                            <div *ngIf="addressForm.controls['state'].invalid && addressForm.controls['state'].touched">
                                <small class="font13">
                                    State is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100 pl-2">
                        <mat-label>Country</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['country']" required>
                        <mat-error>
                            <div
                                *ngIf="addressForm.controls['country'].invalid && addressForm.controls['country'].touched">
                                <small class="font13">
                                    Country name is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 pl-0">
                    <mat-form-field appearance="fill" class="w-100 pr-2">
                        <mat-label>Zip Code</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['zip']" required>
                        <mat-error>
                            <div *ngIf="addressForm.controls['zip'].invalid && addressForm.controls['zip'].touched">
                                <small class="font13">
                                    Zip Code is Required
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div>

            </div>
            <div class="row p-1">
                <mat-form-field appearance="fill" class="w-100 px-3 mb-1">
                    <mat-label>Tagline</mat-label>
                    <input type="text" matInput [formControl]="organisationForm.controls['tagline']" required>
                    <mat-error>
                        <div
                            *ngIf="organisationForm.controls['tagline'].invalid && organisationForm.controls['tagline'].touched">
                            <small class="font13">
                                Tagline is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row p-1">
                <mat-form-field appearance="fill" class="w-100 px-3 mb-1">
                    <mat-label>Description</mat-label>
                    <textarea rows="10" matInput [formControl]="organisationForm.controls['description']"
                        required></textarea>
                    <mat-error>
                        <div
                            *ngIf="organisationForm.controls['description'].invalid && organisationForm.controls['description'].touched">
                            <small class="font13">
                                Description is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-between mt-2 pr-2">
                <button class="button-purple px-4 py-1" mat-raised-button (click)="onPreviousClick()">
                    Back
                </button>
                <button class="button-purple px-4 py-1" mat-raised-button color="primary"
                    [disabled]="organisationForm.invalid || this.addressForm.invalid" (click)="submit()">
                    Next
                </button>
            </div>
        </mat-card>
    </div>
</div>