<!-- address colms -->
<div class="d-flex justify-content-center align-items-center">
    <div class="my-5">
        <div class="d-flex justify-content-center">
            <img src="assets/img/logo.png" alt="logo" class="logo">
        </div>
        <div *ngIf="roleId == 1">
            <h1 class="text-center">Inmate Registration</h1>
        </div>
        <div *ngIf="roleId == 3">
            <h1 class="text-center">Lawyer Registration</h1>
        </div>
        <div *ngIf="roleId == 6">
            <h1 class="text-center">Bondsman Registration</h1>
        </div>
        <div *ngIf="roleId == 4">
            <h1 class="text-center">Researcher Registration</h1>
        </div>
        <div *ngIf="roleId == 5">
            <h1 class="text-center">Public Defender Registration</h1>
        </div>
        <h3 class="text-center font-weight-bold">Step 3/{{totalSteps}}</h3>
        <mat-card class="p-4">
            <div *ngIf="roleId != 3">
                <h3 class="text-center font-weight-bold">Enter Organization Details</h3>
                <p class="text-center">Please enter your organization information. If you are a sole<br> proprietor, please list your name as your Organization Name<br> and complete the rest of the form with your information.</p>
            </div>
            <div *ngIf="roleId == 3">
                <h3 class="text-center font-weight-bold org-heading pb-4">Enter Organization Details</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="fill" class="w-100 px-2 mb-1">
                        <mat-label>Organization Name</mat-label>
                        <input type="text" matInput [formControl]="organisationForm.controls['name']" required>
                        <mat-error>
                            <div *ngIf="organisationForm.controls['name'].invalid && organisationForm.controls['name'].touched">
                                <small class="font13" *ngIf="organisationForm.get('name').errors?.required">
                                    Organization name is required
                                </small>
                                <small class="font13" *ngIf="organisationForm.get('name').errors?.maxlength">
                                    Organization name should be less than 100 chracters
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100 pl-2 mb-1">
                        <mat-label>Street 1</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['street1']" required>
                        <mat-error>
                            <div *ngIf="addressForm.controls['street1'].invalid && addressForm.controls['street1'].touched">
                                <small class="font13" *ngIf="addressForm.get('street1').errors?.required">
                                    Street 1 address is required
                                </small>
                                <small class="font13" *ngIf="addressForm.get('street1').errors?.maxlength">
                                    Street 1 address should not be more than 100 chracters
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 pl-0">
                    <mat-form-field appearance="fill" class="w-100 pr-2 mb-1">
                        <mat-label>Street 2</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['street2']">
                        <mat-error>
                            <div>
                                <small class="font13" *ngIf="addressForm.get('street2').errors?.maxlength">
                                    Street 2 address should not be more than 100 characters
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100 pl-2 mb-1">
                        <mat-label>City</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['city']" required>
                        <mat-error>
                            <div *ngIf="addressForm.controls['city'].invalid && addressForm.controls['city'].touched">
                                <small class="font13" *ngIf="addressForm.get('city').errors?.required">
                                    City is required
                                </small>
                                <small class="font13" *ngIf="addressForm.get('city').errors?.maxlength">
                                    City should be less than 50 chracters
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 pl-0">
                    <mat-form-field appearance="fill" class="w-100 pr-2 mb-1">
                        <mat-label>State</mat-label>
                        <mat-select [formControl]="addressForm.controls['state']" required>
                            <mat-option>Select state</mat-option>
                            <mat-option *ngFor="let state of states" value="{{state.name}}">{{state.name}}</mat-option>
                        </mat-select>
                        <mat-error>
                            <div *ngIf="addressForm.controls['state'].invalid && addressForm.controls['state'].touched">
                                <small class="font13">
                                    State is required
                                </small>
                                <small class="font13" *ngIf="addressForm.get('state').errors?.maxlength">
                                    State should be less than 100 chracters
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100 pl-2">
                        <mat-label>Country</mat-label>
                        <input type="text" matInput [formControl]="addressForm.controls['country']" required>
                        <mat-error>
                            <div *ngIf="addressForm.controls['country'].invalid && addressForm.controls['country'].touched">
                                <small class="font13">
                                    Country name is required
                                </small>
                                <small class="font13" *ngIf="addressForm.get('country').errors?.maxlength">
                                    Country name should be less than 50 chracters
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 pl-0">
                    <mat-form-field appearance="fill" class="w-100 pr-2">
                        <mat-label>Zip Code</mat-label>
                        <input type="text" (keypress)="numberOnly($event)" matInput [formControl]="addressForm.controls['zip']" required>
                        <mat-error>
                            <div *ngIf="addressForm.controls['zip'].invalid && addressForm.controls['zip'].touched">
                                <small class="font13" *ngIf="addressForm.get('zip').errors?.required">
                                    Zip Code is required
                                </small>
                                <small class="font13" *ngIf="addressForm.get('zip').errors?.minlength">
                                    Zip Code should not be less than 5 characters
                                </small>
                                <small class="font13" *ngIf="addressForm.get('zip').errors?.maxlength">
                                    Zip Code should not be more than 5 characters
                                </small>
                            </div>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
            <div>

            </div>
            <div class="d-flex justify-content-between mt-2 pr-2">
                <button class="button-purple px-4 py-1" mat-raised-button (click)="onPreviousClick()">
                    Back
                </button>
                <button class="button-purple px-4 py-1" mat-raised-button color="primary" [disabled]="organisationForm.invalid || this.addressForm.invalid" (click)="submit()">
                    Next
                </button>
            </div>
        </mat-card>
    </div>
</div>