.outer-card {
  border: 1px solid #333442;
  color: #333442;
  background: #e4e4ec;
}

.inner-card {
  border: 1px solid #333442;
  color: #333442;
  background: white;
}

.border-card {
  background: #ededed;
  border: 1px solid #000;
}

.unauthorized-text {
  line-height: 26px;
  letter-spacing: 1px;
}

.card-scroll {
  height: 446px;
  overflow-y: scroll;
}

.circle {
  border-color: #ff6700 !important;
  width: 20px;
  height: 20px;
  top: 6px !important;
  position: relative;
  border: 2px;
}

.panding-review {
  color: #ff6700 !important;
}

#circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: blue;
}
