.outer-card {
  border: 1px solid #333442;
  color: #333442;
  background: #e4e4ec;
}

.inner-card {
  border: 1px solid #333442;
  color: #333442;
  background: white;
}

.unauthorized-text {
  line-height: 26px;
  letter-spacing: 1px;
}

.circle{
  border-color: #FF6700 !important;
  width: 20px;
  height: 20px;
  top: 6px !important;
  position: relative;
  border: 2px;
}
.panding-review{
  color: #FF6700 !important;
}