<div *ngIf="!isAuthorized">
    <h2 class="font-weight-bold p-3 unauthorized-text">Your registration is being processed. We must verify your standing in the bar of the state(s) you selected. When your account is approved, you will receive an email notification. Most registrations are processed within 24 hours.<br/>
Meanwhile, please complete your account information. You will not be charged for anything unless your account is approved.</h2>
</div>
<div *ngIf="isAuthorized">
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="mb-0">Dashboard</h1>
            <h4>View and actions for requested cases.</h4>
        </div>
    </div>

    <div class="mt-4">
        <mat-card class="outer-card mat-elevation-z10 mt-3">
            <mat-label class="font-weight-bold">
                Requested cases({{requestedCases?.length}}):
            </mat-label>
            <mat-card class="inner-card mt-2" *ngIf="!requestedCases?.length">
                <span>No data available.</span>
            </mat-card>
            <mat-card class="d-flex flex-row justify-content-between align-items-center inner-card mt-2"
                *ngFor="let case of requestedCases">
                <div class="d-flex flex-column">
                    <span>{{case?.briefDescriptionOfChargeOrLegalMatter}}</span>
                    <span>
                        Requested By: {{case?.inmate?.firstName}}
                        <span *ngIf="case?.inmate?.middleName">
                            &nbsp;{{case?.inmate?.middleName}}
                        </span>
                        &nbsp;{{case?.inmate?.lastName}}
                    </span>
                    <span>
                        Status:&nbsp;
                        <span class="font-weight-bold" [ngClass]="{'text-warning': case?.lawyer_case?.status == 'Requested', 
                        'text-success': case?.lawyer_case?.status == 'Approved',
                        'text-danger': case?.lawyer_case?.status == 'Rejected'}">
                            {{case?.lawyer_case?.status}}
                        </span>
                    </span>
                    <span>
                        Files attached:{{case?.caseFile?.length}}
                    </span>
                </div>
                <div>
                    <button mat-mini-fab color="primary" title="Approve Case"
                        (click)="onApproveCase(case?.lawyer_case?.lawyer_caseId)">
                        <mat-icon>done_outline</mat-icon>
                    </button>
                    <button class="ml-1" mat-mini-fab color="warn" title="Reject Case"
                        (click)="onRejectCase(case?.lawyer_case?.lawyer_caseId)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </mat-card>
        </mat-card>
    </div>

    <div class="mt-4">
        <mat-card class="w-100">
            <div class="d-flex justify-content-between">
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="search($event.target.value)">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Facility</mat-label>
                        <mat-select (selectionChange)="onFacilityFiltered($event)">
                            <mat-option>
                                Select facility
                            </mat-option>
                            <mat-option *ngFor="let facility of facilities" [value]="facility.facilityId">
                                {{facility.facilityName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
                    <td mat-cell *matCellDef="let user">
                        <span>
                            {{user?.firstName | titlecase}}
                            <span *ngIf="user?.middleName">
                                &nbsp;{{user?.middleName | titlecase}}
                            </span>
                            &nbsp;{{user?.lastName | titlecase}}
                        </span>
                        <span *ngIf="!user?.firstName && !user?.middleName && !user?.lastName">
                            N/A
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="facilities">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Facility</th>
                    <td mat-cell *matCellDef="let user">
                        <ng-container *ngFor="let facility of user?.facilities;let isLast=last">
                            <span>{{facility?.facilityName}}{{isLast ? '' : ', '}}</span>
                        </ng-container>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>
        </mat-card>
    </div>
</div>
