<div class="container" *ngIf="!isAuthorized">
  <h2 class="font-weight-bold p-3 unauthorized-text">Thank you for registering as an attorney for My Justice Portal.
    Your registration is being processed. Most registrations
    are processed withing 24 hours. Once we verify your active Bar membership, your account will be approved and you
    will
    receive an email notification to complete the registration process.</h2>
  <div class="d-flex justify-content-center align-items-center;">
    <div class="col-6 pt-2">
      <mat-card class="mat-elevation-z10">
        <h2>Account Status: <span class="panding-review">Pending Review</span></h2>
      </mat-card>
    </div>
  </div>
</div>

<div>
  <div>
    <h1 class="mb-0">Dashboard</h1>
    <h4>View and actions for requested cases.</h4>
  </div>
</div>

<div *ngIf="billingBoard && isAuthorized">
  <div class="d-flex justify-content-between">
  </div>
  <div *ngIf="userData.roles[0].roleId == 3">
    <div class="row">
      <div class="col-6">
        <div class="row pt-2">
          <div class="col-12">
            <div class="d-flex justify-content-center align-items-center;">
              <mat-card class="mat-elevation-z10 w-100">
                <h2 class="text-center">Explore Plans</h2>
                <div class="row">
                  <div class="col-12 pt-2">
                    <mat-card class="mat-elevation-z10 border-card">
                      <input class="circle" type="radio" name="package" (change)="onSelectPlan($event.checked)">
                      Standard Plan($50/mo, $0.10/inmate/mo)
                    </mat-card>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
          <div class="col-12 pt-2">
            <div class="d-flex justify-content-center align-items-center;">
              <mat-card class="mat-elevation-z10 w-100 card-scroll">
                <h2 class="text-center">Your Facilities</h2>
                <h4>Based on the states in which you are admitted to the bar, the following facilities
                  are available.
                  Please select facility you want.</h4>
                <div class="col-12 pt-2">
                  <div>
                    <li *ngFor="let facility of facilities;">
                      <mat-checkbox color="primary" [disabled]="isDisabled"
                        (change)="onNativeChange($event.checked,facility?.facilityId,facility.userCount)">
                        {{facility?.facilityName}} ({{facility.userCount}} inmates)
                      </mat-checkbox>
                      <div
                        *ngIf="facility?.facilityId == facilityId || (facility.addOns.premium || facility.addOns.sponsors)">
                        <mat-card class="border-card">
                          <h4 class="font-weight-bold text-center">Select Add Ons for this
                            facility.
                          </h4>
                          <div>
                            <mat-checkbox color="primary"
                              [formControl]="addOnsForm.controls['premiumListing']"
                              (change)="onSelectAddOns($event.checked,facility?.facilityId,'premium')">
                              <span>Premium listing($10/mo)</span>
                            </mat-checkbox>
                          </div>
                          <div>
                            <mat-checkbox color="primary" [formControl]="addOnsForm.controls['sponsors']"
                              (change)="onSelectAddOns($event.checked,facility?.facilityId,'sponsors')">
                              <span>Sponsors Unit Rotation($10/mo)</span>
                            </mat-checkbox>
                          </div>
                        </mat-card>
                      </div>
                    </li>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <!-- Estimatad Monthly Bill  -->
        <div class="col-12 pt-2">
          <div class="d-flex justify-content-center align-items-center;">
            <mat-card class="mat-elevation-z10 w-100">
              <h2>Estimatad Monthly Bill : ${{totalCount}}</h2>
              <div class="col-12 pt-2">
                <mat-card class="mat-elevation-z10">
                  <div class="d-flex justify-content-center align-items-center">
                    <div>$10 * {{addOnsCount/10}} addOns = {{addOnsCount}}
                    </div>
                  </div>
                  <div class="d-flex justify-content-center align-items-center">
                    <div>$0.10 * {{inmatesCount}} inmate = {{facilityCount}}
                    </div>
                  </div>
                  <hr>
                  <div class="d-flex justify-content-center align-items-center">
                    <div>
                      <span class="font-weight-bold">Total:-</span> ${{totalCount}}
                    </div>
                  </div>
                </mat-card>
              </div>
            </mat-card>
          </div>
        </div>
        <div class="col-12">
          <mat-card>
            <app-stripe [totalCount]="totalCount" (onPayEvent)="onPayEvent($event)"></app-stripe>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

  <div *ngIf="showDashboard">
    <div class="mt-4">
      <mat-card *ngIf="requestedCases?.length!=0" class="outer-card mat-elevation-z10 mt-3">
        <mat-label class="font-weight-bold">
          Active cases({{requestedCases?.length}}):
        </mat-label>
  
        <div *ngFor="let case of requestedCases">
          <mat-card class="d-flex flex-row justify-content-between align-items-center inner-card mt-2">
            <div class="d-flex flex-column">
              <span>{{case?.briefDescriptionOfChargeOrLegalMatter}}</span>
              <span>
                Requested By: {{case?.inmate?.firstName}}
                <span *ngIf="case?.inmate?.middleName">
                  &nbsp;{{case?.inmate?.middleName}}
                </span>
                &nbsp;{{case?.inmate?.lastName}}
              </span>
              <span>
                Status:&nbsp;
                <span class="font-weight-bold" [ngClass]="{'text-warning': case?.lawyer_case?.status == 'Requested', 
                              'text-success': case?.lawyer_case?.status == 'Approved',
                              'text-danger': case?.lawyer_case?.status == 'Rejected'}">
                  {{case?.lawyer_case?.status}}
                </span>
              </span>
              <span>
                Files attached:{{case?.caseFile?.length}}
              </span>
            </div>
            <div>
              <button mat-mini-fab color="primary" title="Approve Case"
                (click)="onApproveCase(case?.lawyer_case?.lawyer_caseId)">
                <mat-icon>done_outline</mat-icon>
              </button>
              <button class="ml-1" mat-mini-fab color="warn" title="Reject Case"
                (click)="onRejectCase(case?.lawyer_case?.lawyer_caseId)">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </mat-card>
        </div>
      </mat-card>
    </div>
    
  
    <div class="mt-4">
      <mat-card class="w-100">
        <div class="d-flex justify-content-between">
          <div>
            <mat-form-field class="w-100">
              <mat-label>Search</mat-label>
              <input matInput (keyup)="search($event.target.value)">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Facility</mat-label>
              <mat-select (selectionChange)="onFacilityFiltered($event)">
                <mat-option>
                  Select facility
                </mat-option>
                <mat-option *ngFor="let facility of facilities" [value]="facility.facilityId">
                  {{facility.facilityName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
            <td mat-cell *matCellDef="let user">
              <span>
                {{user?.firstName | titlecase}}
                <span *ngIf="user?.middleName">
                  &nbsp;{{user?.middleName | titlecase}}
                </span>
                &nbsp;{{user?.lastName | titlecase}}
              </span>
              <span *ngIf="!user?.firstName && !user?.middleName && !user?.lastName">
                N/A
              </span>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="facilities">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Facility</th>
            <td mat-cell *matCellDef="let user">
              <ng-container *ngFor="let facility of user?.facilities;let isLast=last">
                <span>{{facility?.facilityName}}{{isLast ? '' : ', '}}</span>
              </ng-container>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>
      </mat-card>
    </div>
  </div>

  