<div class="container" *ngIf="!isAuthorized">
    <h2 class="font-weight-bold p-3 unauthorized-text">Thank you for registering as an attorney for My Justice Portal.
        Your registration is being processed. Most registrations
        are processed withing 24 hours. Once we verify your active Bar membership, your account will be approved and you
        will
        receive an email notification to complete the registration process.</h2>
    <div *ngIf="userData.roles[0].roleId == 3">
        <div class="d-flex justify-content-center align-items-center;">
            <div class="col-6 pt-2">
                <mat-card class="mat-elevation-z10">
                    <h2>Account Status: <span class="panding-review">Panding Review</span></h2>
                </mat-card>
            </div>
        </div>
        <div *ngIf="count==1">
            <div>
                <div class="d-flex justify-content-center align-items-center;">
                    <div class="col-6 py-5">
                        <mat-card class="mat-elevation-z10">
                            <div class="my-4">
                                <h2 class="text-center">Explore Plans</h2>
                                <div class="row px-3">
                                    <div class="col-12 pt-2">
                                        <mat-card class="mat-elevation-z10">
                                            <input class="circle" type="radio" name="package" value="'6month'"
                                                [formControl]="selectPlanForm.controls['plan']">
                                            Full Package
                                        </mat-card>
                                    </div>
                                    <div class="col-12 pt-2">
                                        <mat-card class="mat-elevation-z10">
                                            <input class="circle" type="radio" name="package" value="'1Year'"
                                                [formControl]="selectPlanForm.controls['plan']">
                                            Limited Package
                                        </mat-card>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end mt-2 pr-2 pt-4">
                                    <button [disabled]="!selectPlanForm.valid" class="button-purple px-4 py-1"
                                        mat-raised-button (click)="yourFacilitys()">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="step==1">
            <div>
                <div class="d-flex justify-content-center align-items-center;">
                    <div class="col-6 py-5">
                        <mat-card class="mat-elevation-z10">
                            <h2 class="text-center">Your Facilities</h2>
                            <div class="col-12 pt-2">
                                <ul *ngFor="let facility of facilities">
                                    <div class="row">
                                        <li>{{facility.facilityName}}</li>
                                    </div>
                                </ul>
                                <div class="d-flex justify-content-between mt-2 pr-2">
                                    <button class="button-purple px-4 py-1" mat-raised-button (click)="backFacilitys()">
                                        Back
                                    </button>
                                    <button class="button-purple px-4 py-1" mat-raised-button color="primary"
                                        (click)=" estimatadBill()">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>

        <!-- Estimatad Monthly Bill  -->

        <div *ngIf="step==2">
            <div>
                <div class="d-flex justify-content-center align-items-center;">
                    <div class="col-6 py-5">
                        <mat-card class="mat-elevation-z10">
                            <h2>Estimatad Monthly Bill : $100.00</h2>
                            <div class="col-12 pt-2">
                                <mat-card class="mat-elevation-z10">
                                    Game
                                </mat-card>
                                <div class="d-flex justify-content-between mt-2 pr-2">
                                    <button class="button-purple px-4 py-1" mat-raised-button
                                        (click)="backEstimatadBill()">
                                        Back
                                    </button>
                                    <button class="button-purple px-4 py-1" mat-raised-button color="primary"
                                        (click)="cardPayment()">
                                        Payment
                                    </button>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>

        <!-- Payment Card  -->
        <div *ngIf="step==3">
            <div>
                <div class="d-flex justify-content-center align-items-center;">
                    <div class="col-6 pt-2">
                        <mat-card class="mat-elevation-z10">
                            <h2>Credit Card Info</h2>
                            <div class="row px-3">
                                <mat-form-field appearance="fill" class="w-100 p-1">
                                    <mat-label>Name on Card</mat-label>
                                    <input matInput [formControl]="cardForm.controls['name']">
                                    <mat-error>
                                        <div *ngIf="cardForm.controls['name'].invalid && 
                                                                        cardForm.controls['name'].touched">
                                            <small class="font13" *ngIf="cardForm.get('name').errors?.required">
                                                Name is Required.
                                            </small>
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row px-3">
                                <mat-form-field appearance="fill" class="w-100 p-1">
                                    <mat-label>Card Number</mat-label>
                                    <input matInput [formControl]="cardForm.controls['card']"
                                        placeholder="1234-5678-9101-1123" [textMask]="{mask: cardMask}" required>
                                    <mat-error>
                                        <div
                                            *ngIf="cardForm.controls['card'].invalid && cardForm.controls['card'].touched 
                                               && !cardForm.controls['card'].hasError('invalidCardPattern') && !cardForm.controls['card'].hasError('invalidCard')">
                                            <small class="font13">
                                                Should be 16-digit card number.
                                            </small>
                                        </div>
                                        <div
                                            *ngIf="cardForm.controls['card'].invalid && cardForm.controls['card'].dirty && cardForm.controls['card'].hasError('invalidCardPattern') && !cardForm.controls['card'].hasError('invalidCard')">
                                            <small class="font13">
                                                Card number should be in digit .
                                            </small>
                                        </div>
                                        <div
                                            *ngIf="cardForm.controls['card'].invalid &&  cardForm.controls['card'].dirty &&
                                           !cardForm.controls['card'].hasError('invalidCardPattern')&& cardForm.controls['card'].hasError('invalidCard') ">
                                            <small class="font13">
                                                Card number is not Valid.
                                            </small>
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field appearance="fill" class="w-100 pl-2">
                                        <mat-label>Valid upto</mat-label>
                                        <input matInput [matDatepicker]="picker1"
                                            [formControl]="cardForm.controls['valid']" [min]="dateOfArrest">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-6">
                                    <mat-form-field appearance="fill" class="w-100 p-1">
                                        <mat-label>CVV Code</mat-label>
                                        <input type="text" matInput [formControl]="cardForm.controls['cvv']"
                                            [textMask]="{mask: cvvMask}">
                                        <mat-error>
                                            <div
                                                *ngIf="cardForm.controls['cvv'].invalid && cardForm.controls['cvv'].touched">
                                                <small class="font13" *ngIf="cardForm.get('cvv').errors?.required">
                                                    CVV is Required.
                                                </small>
                                            </div>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row ml-2 my-2">
                                <mat-checkbox class="termCondition-margin ml-2" color="primary">
                                    <a>
                                        <p class="p-0 m-0 line-height">I accept the <span
                                                class="font-weight-bold p-0 m-0">Terms
                                                and
                                                Conditions</span>
                                            of using this website and
                                        </p>
                                        <p class="p-0 m-0 line-height">agree to abide by all applicable laws and
                                            standards.
                                        </p>
                                    </a>
                                </mat-checkbox>
                            </div>
                            <div>
                                <button [disabled]="!cardForm.valid" class="button-purple px-4 py-1 w-100"
                                    mat-raised-button color="primary" (click)="onPay()">
                                    Pay $100.00
                                </button>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="isAuthorized">
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="mb-0">Dashboard</h1>
            <h4>View and actions for requested cases.</h4>
        </div>
    </div>

    <div class="mt-4">
        <mat-card class="outer-card mat-elevation-z10 mt-3">
            <mat-label class="font-weight-bold">
                Requested cases({{requestedCases?.length}}):
            </mat-label>
            <mat-card class="inner-card mt-2" *ngIf="!requestedCases?.length">
                <span>No data available.</span>
            </mat-card>
            <mat-card class="d-flex flex-row justify-content-between align-items-center inner-card mt-2"
                *ngFor="let case of requestedCases">
                <div class="d-flex flex-column">
                    <span>{{case?.briefDescriptionOfChargeOrLegalMatter}}</span>
                    <span>
                        Requested By: {{case?.inmate?.firstName}}
                        <span *ngIf="case?.inmate?.middleName">
                            &nbsp;{{case?.inmate?.middleName}}
                        </span>
                        &nbsp;{{case?.inmate?.lastName}}
                    </span>
                    <span>
                        Status:&nbsp;
                        <span class="font-weight-bold" [ngClass]="{'text-warning': case?.lawyer_case?.status == 'Requested', 
                        'text-success': case?.lawyer_case?.status == 'Approved',
                        'text-danger': case?.lawyer_case?.status == 'Rejected'}">
                            {{case?.lawyer_case?.status}}
                        </span>
                    </span>
                    <span>
                        Files attached:{{case?.caseFile?.length}}
                    </span>
                </div>
                <div>
                    <button mat-mini-fab color="primary" title="Approve Case"
                        (click)="onApproveCase(case?.lawyer_case?.lawyer_caseId)">
                        <mat-icon>done_outline</mat-icon>
                    </button>
                    <button class="ml-1" mat-mini-fab color="warn" title="Reject Case"
                        (click)="onRejectCase(case?.lawyer_case?.lawyer_caseId)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </mat-card>
        </mat-card>
    </div>

    <div class="mt-4">
        <mat-card class="w-100">
            <div class="d-flex justify-content-between">
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="search($event.target.value)">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Facility</mat-label>
                        <mat-select (selectionChange)="onFacilityFiltered($event)">
                            <mat-option>
                                Select facility
                            </mat-option>
                            <mat-option *ngFor="let facility of facilities" [value]="facility.facilityId">
                                {{facility.facilityName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
                    <td mat-cell *matCellDef="let user">
                        <span>
                            {{user?.firstName | titlecase}}
                            <span *ngIf="user?.middleName">
                                &nbsp;{{user?.middleName | titlecase}}
                            </span>
                            &nbsp;{{user?.lastName | titlecase}}
                        </span>
                        <span *ngIf="!user?.firstName && !user?.middleName && !user?.lastName">
                            N/A
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="facilities">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Facility</th>
                    <td mat-cell *matCellDef="let user">
                        <ng-container *ngFor="let facility of user?.facilities;let isLast=last">
                            <span>{{facility?.facilityName}}{{isLast ? '' : ', '}}</span>
                        </ng-container>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="getPageSizeOptions()" showFirstLastButtons></mat-paginator>
        </mat-card>
    </div>
</div>