<div class="d-flex justify-content-center align-items-center">
    <div class="my-5">
        <div class="d-flex justify-content-center">
            <img src="assets/img/logo.png" alt="logo" class="logo" />
        </div>
        <mat-card class="wpx p-5">
            <div *ngIf="step == 1">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Please Enter your Email or Username</mat-label>
                    <input type="email" matInput placeholder="Username or Email"
                        [formControl]="passwordResetForm.controls['userName']" required />
                </mat-form-field>

                <div class="d-flex justify-content-center">
                    <button [disabled]="passwordResetForm.get('userName').invalid" class="px-4 py-1" mat-raised-button
                        color="primary" (click)="getAllUserSecurityQuestions()">
                        SUBMIT
                    </button>
                </div>
            </div>
            <div *ngIf="step == 2">
                <h2 class="font-weight-bold">Security Questions</h2>
                <p class="text-dark">
                    Please set your security question so you can access
                    your account if you ever forget your password or ID.
                </p>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Select Question</mat-label>
                    <mat-select [formControl]="passwordResetForm.controls['securityQuestionId']">
                        <mat-option *ngFor="let question of securityQuestions" [value]="question.securityQuestionId">
                            {{question.question}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Answer</mat-label>
                    <input type="text" matInput placeholder="Answer"
                        [formControl]="passwordResetForm.controls['answer']" required>
                </mat-form-field>
                <div class="d-flex justify-content-center">
                    <button [disabled]="passwordResetForm.get('answer').invalid" class="px-4 py-1" mat-raised-button
                        color="primary" (click)="onSelectQuestion()">
                        SUBMIT
                    </button>
                </div>
            </div>
            <div *ngIf="step == 3">
                <h2 class="font-weight-bold">Please Reset your password</h2>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput placeholder="Answer"
                        [formControl]="passwordResetForm.controls['password']" required>
                    <mat-error>
                        <div
                            *ngIf="passwordResetForm.controls['password'].invalid && passwordResetForm.controls['password'].touched">
                            <small class="font13">
                                Password is Required
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput placeholder="Answer"
                        [formControl]="passwordResetForm.controls['confirmPassword']" required>
                    <mat-error>
                        <div *ngIf="passwordResetForm.controls['confirmPassword'].invalid && passwordResetForm.controls['confirmPassword'].touched &&
                                passwordResetForm.controls['confirmPassword'].hasError('notSamePassword')">
                            <small class="font13">
                                Password does not match
                            </small>
                        </div>
                    </mat-error>
                </mat-form-field>
                <div class="d-flex justify-content-center">
                    <button
                        [disabled]="passwordResetForm.get('password').invalid && passwordResetForm.get('confirmPassword').invalid"
                        class="px-4 py-1" mat-raised-button color="primary" (click)="resetPassword()">
                        SUBMIT
                    </button>
                </div>
            </div>
        </mat-card>
        <div class="d-flex justify-content-center pt-2">
            <a [routerLink]="'/login'" mat-button>Back to Login</a>
        </div>
    </div>
</div>