<div *ngIf="!isAuthorized">
    <h2 class="font-weight-bold p-3 unauthorized-text">Thank you for registering as an attorney for My Justice Portal.
        Your registration is being processed. Most registrations
        are processed withing 24 hours. Once we verify your active Bar membership, your account will be approved and you
        will
        receive an email notification to complete the registration process.</h2>
</div>
<div *ngIf="isAuthorized">
    <p>researcher-dashboard works!</p>
</div>