<div class="bg-color">
    <div class="d-flex justify-content-center align-items-center">
        <div class="my-5">
            <div class="d-flex justify-content-center">
                <img src="assets/img/logo.png" alt="logo" class="logo">
            </div>
            <h3 *ngIf="roleId == 1" class="text-center font-weight-bold">Step 2/3</h3>
            <h3 *ngIf="roleId == 3 || roleId == 4 || roleId == 5" class="text-center font-weight-bold">Step 2/4</h3>
            <mat-card class="p-4">
                <div>
                    <div>
                        <h2 class=" text-center font-weight-bold" *ngIf="roleId != 3">Housing Information</h2>
                    </div>
                    <div>
                        <h2 class=" text-center font-weight-bold" *ngIf="roleId == 3">Please Add Your Bar Information
                        </h2>
                    </div>
                    <p class="text-center" *ngIf="roleId == 3">Please add the states in which you are admitted to the
                        bar.<br>If possible, include your Bar ID in that state.</p>
                    <p class="text-center" *ngIf="isFacility">Housing Unit (If Known.)</p>
                    <p class="text-center" *ngIf="(roleId == 1 && !isFacility)">It looks like you aren't currently in a
                        facility. Please
                        select the last facility you were in, or select which is
                        closest to you.</p>
                </div>
                <div class="">
                    <div class="px-2">
                        <table class="table">
                            <tbody class="p-1" style="border: none; ">
                                <tr *ngFor="let info of lawyerInfoArray">
                                    <td class="p-0 w-50 pl-5 py-1 table-color font-weight-bold">{{info.state}}</td>
                                    <td class="p-0 w-50 pl-5 py-1 table-color">
                                        <span class="font-weight-bold">Bar ID:
                                        </span>
                                        {{info.bar_info_Exam_Id}}</td>
                                    <td class="btn-group">
                                        <button class="btn-size" mat-mini-fab color="warn"
                                            title="Delete Practice Areas" (click)="deleteInfo(info.bar_info_Exam_Id)">
                                            <mat-icon class="icon-font">delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="roleId != 3">
                        <mat-form-field class="w-100 p-3">
                            <mat-label>Facility</mat-label>
                            <input type="text" matInput [formControl]="additionalInfo.controls['facility']"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let facility of facilityList" [value]="facility.facilityName">
                                    {{facility.facilityName}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-100 p-3">
                            <mat-label>Housing unit</mat-label> <input type="text" matInput placeholder="Housing Unit"
                                [formControl]="additionalInfo.controls['housing_unit']">
                        </mat-form-field>
                    </div>

                    <div class="d-flex" *ngIf="roleId == 3">
                        <div class="col-6 p-0">
                            <mat-form-field appearance="fill" class="w-100 p-1">
                                <mat-label>State</mat-label>
                                <mat-select [formControl]="additionalInfoLawyer.controls['state']" required>
                                    <mat-option>Select state</mat-option>
                                    <mat-option *ngFor="let state of states" value="{{state.name}}">
                                        {{state.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6 p-0">
                            <mat-form-field appearance="fill" class="w-100 p-1">
                                <mat-label>Bar ID (If Applicable)</mat-label>
                                <input type="text" matInput
                                    [formControl]="additionalInfoLawyer.controls['bar_info_Exam_Id']">
                                <mat-error
                                    *ngIf="additionalInfoLawyer.controls['bar_info_Exam_Id'].invalid && additionalInfoLawyer.controls['bar_info_Exam_Id'].touched">
                                    <small class="font13"
                                        *ngIf="additionalInfoLawyer.get('bar_info_Exam_Id').errors?.required">
                                        Bar ID is required.
                                    </small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row pl-3" *ngIf="roleId == 3">
                    <div class="pl-3">
                        <button class="px-4 py-1" [disabled]="additionalInfoLawyer.controls['state'].invalid"
                            mat-raised-button color="primary" (click)="addMoreStates()">{{buttonText}}</button>
                    </div>
                </div>
                <hr class="footer-line">
                <div class="d-flex justify-content-between px-3 mt-2">
                    <button mat-button color="primary" (click)="onPreviousClick()">
                        BACK
                    </button>
                    <button *ngIf="roleId != 3"
                        [disabled]="additionalInfo.controls['housing_unit'].invalid || additionalInfo.controls['facility'].invalid"
                        class="px-4 py-1" mat-raised-button color="primary" (click)="submit()">Next</button>

                    <button *ngIf="roleId == 3" [disabled]="isDisable" class="px-4 py-1" mat-raised-button
                        color="primary" (click)="submit()">Next</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #mytemplate>
    <div class="col-12">
        <div class="">
            <mat-form-field appearance="fill" class="w-100 p-4">
                <mat-label>Practice Areas</mat-label>
                <input matInput placeholder="specialty" [formControl]="specialtyForm.controls['specialty']"
                    autocapitalize="off" required />
                <mat-error>
                    <div *ngIf="specialtyForm.controls['specialty'].invalid && 
                                                specialtyForm.controls['specialty'].touched">
                        <small class="font13" *ngIf="specialtyForm.get('specialty').errors?.required">
                            Practice Areas is Required.
                        </small>
                    </div>
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <div class="d-flex justify-content-between p-2">
                <button mat-dialog-close class="px-4 py-1" mat-button color="primary">
                    Cancel
                </button>
                <button class="px-4 py-1" mat-raised-button color="primary" mat-dialog-close
                    (click)="createSpecilaty()">
                    Save
                </button>
            </div>
        </div>
    </div>
</ng-template>